In [1]:
import numpy as np
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
from matplotlib import style
import matplotlib.ticker as ticker
import seaborn as sns

In [3]:
from sklearn.datasets import load_boston
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import f1_score
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import ParameterGrid
from sklearn.inspection import permutation_importance
import multiprocessing

In [4]:
labels = pd.read_csv('../csv/train_labels.csv')
labels.head()

   building_id  damage_grade
0       802906             3
1        28830             2
2        94947             3
3       590882             2
4       201944             3

In [5]:
values = pd.read_csv('../csv/train_values.csv')
values.head(10).T

,0,1,2,3,4,5,6,7,8,9
building_id,802906,28830,94947,590882,201944,333020,728451,475515,441126,989500
geo_level_1_id,6,8,21,22,11,8,9,20,0,26
geo_level_2_id,487,900,363,418,131,558,475,323,757,886
geo_level_3_id,12198,2812,8973,10694,1488,6089,12066,12236,7219,994
count_floors_pre_eq,2,2,2,2,3,2,2,2,2,1
age,30,10,10,10,30,10,25,0,15,0
area_percentage,6,8,5,6,8,9,3,8,8,13
height_percentage,5,7,5,5,9,5,4,6,6,4
land_surface_condition,t,o,t,t,t,t,n,t,t,t
foundation_type,r,r,r,r,r,r,r,w,r,i
roof_type,n,n,n,n,n,n,n,q,q,n
ground_floor_type,f,x,f,f,f,f,x,v,f,v
other_floor_type,q,q,x,x,x,q,q,x,q,j
position,t,s,t,s,s,s,s,s,s,s
plan_configuration,d,d,d,d,d,d,d,u,d,d
has_superstructure_adobe_mud,1,0,0,0,1,0,0,0,0,0
has_superstructure_mud_mortar_stone,1,1,1,1,0,1,1,0,1,0
has_superstructure_stone_flag,0,0,0,0,0,0,0,0,0,0
has_superstructure_cement_mortar_stone,0,0,0,0,0,0,0,0,0,0
has_superstructure_mud_mortar_brick,0,0,0,0,0,0,0,0,0,0
has_superstructure_cement_mortar_brick,0,0,0,0,0,0,0,1,0,1
has_superstructure_timber,0,0,0,1,0,0,0,1,1,0
has_superstructure_bamboo,0,0,0,1,0,0,0,0,0,0
has_superstructure_rc_non_engineered,0,0,0,0,0,0,0,0,0,0
has_superstructure_rc_engineered,0,0,0,0,0,0,0,0,0,0
has_superstructure_other,0,0,0,0,0,0,0,0,0,0
legal_ownership_status,v,v,v,v,v,v,v,v,v,v
count_families,1,1,1,1,1,1,1,1,1,1
has_secondary_use,0,0,0,0,0,1,0,0,0,0
has_secondary_use_agriculture,0,0,0,0,0,1,0,0,0,0
has_secondary_use_hotel,0,0,0,0,0,0,0,0,0,0
has_secondary_use_rental,0,0,0,0,0,0,0,0,0,0
has_secondary_use_institution,0,0,0,0,0,0,0,0,0,0
has_secondary_use_school,0,0,0,0,0,0,0,0,0,0
has_secondary_use_industry,0,0,0,0,0,0,0,0,0,0
has_secondary_use_health_post,0,0,0,0,0,0,0,0,0,0
has_secondary_use_gov_office,0,0,0,0,0,0,0,0,0,0
has_secondary_use_use_police,0,0,0,0,0,0,0,0,0,0
has_secondary_use_other,0,0,0,0,0,0,0,0,0,0

In [6]:
values.isnull().values.any()

False

In [7]:
labels.isnull().values.any()

False

In [8]:
values.dtypes

building_id                                int64
geo_level_1_id                             int64
geo_level_2_id                             int64
geo_level_3_id                             int64
count_floors_pre_eq                        int64
age                                        int64
area_percentage                            int64
height_percentage                          int64
land_surface_condition                    object
foundation_type                           object
roof_type                                 object
ground_floor_type                         object
other_floor_type                          object
position                                  object
plan_configuration                        object
has_superstructure_adobe_mud               int64
has_superstructure_mud_mortar_stone        int64
has_superstructure_stone_flag              int64
has_superstructure_cement_mortar_stone     int64
has_superstructure_mud_mortar_brick        int64
has_superstructure_cement_mortar_brick     int64
has_superstructure_timber                  int64
has_superstructure_bamboo                  int64
has_superstructure_rc_non_engineered       int64
has_superstructure_rc_engineered           int64
has_superstructure_other                   int64
legal_ownership_status                    object
count_families                             int64
has_secondary_use                          int64
has_secondary_use_agriculture              int64
has_secondary_use_hotel                    int64
has_secondary_use_rental                   int64
has_secondary_use_institution              int64
has_secondary_use_school                   int64
has_secondary_use_industry                 int64
has_secondary_use_health_post              int64
has_secondary_use_gov_office               int64
has_secondary_use_use_police               int64
has_secondary_use_other                    int64
dtype: object

In [9]:
values["building_id"].count() == values["building_id"].drop_duplicates().count()

True

In [10]:
values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 39 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int64
 1   geo_level_1_id                          260601 non-null  int64
 2   geo_level_2_id                          260601 non-null  int64
 3   geo_level_3_id                          260601 non-null  int64
 4   count_floors_pre_eq                     260601 non-null  int64
 5   age                                     260601 non-null  int64
 6   area_percentage                         260601 non-null  int64
 7   height_percentage                       260601 non-null  int64
 8   land_surface_condition                  260601 non-null  object
 9   foundation_type                         260601 non-null  object
 10  roof_type                               260601 non-null  object
 11  ground_floor_type                       260601 non-null  object
 12  other_floor_type                        260601 non-null  object
 13  position                                260601 non-null  object
 14  plan_configuration                      260601 non-null  object
 15  has_superstructure_adobe_mud            260601 non-null  int64
 16  has_superstructure_mud_mortar_stone     260601 non-null  int64
 17  has_superstructure_stone_flag           260601 non-null  int64
 18  has_superstructure_cement_mortar_stone  260601 non-null  int64
 19  has_superstructure_mud_mortar_brick     260601 non-null  int64
 20  has_superstructure_cement_mortar_brick  260601 non-null  int64
 21  has_superstructure_timber               260601 non-null  int64
 22  has_superstructure_bamboo               260601 non-null  int64
 23  has_superstructure_rc_non_engineered    260601 non-null  int64
 24  has_superstructure_rc_engineered        260601 non-null  int64
 25  has_superstructure_other                260601 non-null  int64
 26  legal_ownership_status                  260601 non-null  object
 27  count_families                          260601 non-null  int64
 28  has_secondary_use                       260601 non-null  int64
 29  has_secondary_use_agriculture           260601 non-null  int64
 30  has_secondary_use_hotel                 260601 non-null  int64
 31  has_secondary_use_rental                260601 non-null  int64
 32  has_secondary_use_institution           260601 non-null  int64
 33  has_secondary_use_school                260601 non-null  int64
 34  has_secondary_use_industry              260601 non-null  int64
 35  has_secondary_use_health_post           260601 non-null  int64
 36  has_secondary_use_gov_office            260601 non-null  int64
 37  has_secondary_use_use_police            260601 non-null  int64
 38  has_secondary_use_other                 260601 non-null  int64
dtypes: int64(31), object(8)
memory usage: 77.5+ MB

In [11]:
to_be_categorized = ["land_surface_condition", "foundation_type", "roof_type",\
                     "position", "ground_floor_type", "other_floor_type",\
                     "plan_configuration", "legal_ownership_status"]
for row in to_be_categorized:
    values[row] = values[row].astype("category")
values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 39 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int64
 1   geo_level_1_id                          260601 non-null  int64
 2   geo_level_2_id                          260601 non-null  int64
 3   geo_level_3_id                          260601 non-null  int64
 4   count_floors_pre_eq                     260601 non-null  int64
 5   age                                     260601 non-null  int64
 6   area_percentage                         260601 non-null  int64
 7   height_percentage                       260601 non-null  int64
 8   land_surface_condition                  260601 non-null  category
 9   foundation_type                         260601 non-null  category
 10  roof_type                               260601 non-null  category
 11  ground_floor_type                       260601 non-null  category
 12  other_floor_type                        260601 non-null  category
 13  position                                260601 non-null  category
 14  plan_configuration                      260601 non-null  category
 15  has_superstructure_adobe_mud            260601 non-null  int64
 16  has_superstructure_mud_mortar_stone     260601 non-null  int64
 17  has_superstructure_stone_flag           260601 non-null  int64
 18  has_superstructure_cement_mortar_stone  260601 non-null  int64
 19  has_superstructure_mud_mortar_brick     260601 non-null  int64
 20  has_superstructure_cement_mortar_brick  260601 non-null  int64
 21  has_superstructure_timber               260601 non-null  int64
 22  has_superstructure_bamboo               260601 non-null  int64
 23  has_superstructure_rc_non_engineered    260601 non-null  int64
 24  has_superstructure_rc_engineered        260601 non-null  int64
 25  has_superstructure_other                260601 non-null  int64
 26  legal_ownership_status                  260601 non-null  category
 27  count_families                          260601 non-null  int64
 28  has_secondary_use                       260601 non-null  int64
 29  has_secondary_use_agriculture           260601 non-null  int64
 30  has_secondary_use_hotel                 260601 non-null  int64
 31  has_secondary_use_rental                260601 non-null  int64
 32  has_secondary_use_institution           260601 non-null  int64
 33  has_secondary_use_school                260601 non-null  int64
 34  has_secondary_use_industry              260601 non-null  int64
 35  has_secondary_use_health_post           260601 non-null  int64
 36  has_secondary_use_gov_office            260601 non-null  int64
 37  has_secondary_use_use_police            260601 non-null  int64
 38  has_secondary_use_other                 260601 non-null  int64
dtypes: category(8), int64(31)
memory usage: 63.6 MB

In [12]:
datatypes = dict(values.dtypes)
for row in values.columns:
    if datatypes[row] != "int64" and datatypes[row] != "int32" and \
       datatypes[row] != "int16" and datatypes[row] != "int8":
        continue
    if values[row].nlargest(1).item() > 32767 and values[row].nlargest(1).item() < 2**31:
        values[row] = values[row].astype(np.int32)
    elif values[row].nlargest(1).item() > 127:
        values[row] = values[row].astype(np.int16)
    else:
        values[row] = values[row].astype(np.int8)
values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 39 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int32
 1   geo_level_1_id                          260601 non-null  int8
 2   geo_level_2_id                          260601 non-null  int16
 3   geo_level_3_id                          260601 non-null  int16
 4   count_floors_pre_eq                     260601 non-null  int8
 5   age                                     260601 non-null  int16
 6   area_percentage                         260601 non-null  int8
 7   height_percentage                       260601 non-null  int8
 8   land_surface_condition                  260601 non-null  category
 9   foundation_type                         260601 non-null  category
 10  roof_type                               260601 non-null  category
 11  ground_floor_type                       260601 non-null  category
 12  other_floor_type                        260601 non-null  category
 13  position                                260601 non-null  category
 14  plan_configuration                      260601 non-null  category
 15  has_superstructure_adobe_mud            260601 non-null  int8
 16  has_superstructure_mud_mortar_stone     260601 non-null  int8
 17  has_superstructure_stone_flag           260601 non-null  int8
 18  has_superstructure_cement_mortar_stone  260601 non-null  int8
 19  has_superstructure_mud_mortar_brick     260601 non-null  int8
 20  has_superstructure_cement_mortar_brick  260601 non-null  int8
 21  has_superstructure_timber               260601 non-null  int8
 22  has_superstructure_bamboo               260601 non-null  int8
 23  has_superstructure_rc_non_engineered    260601 non-null  int8
 24  has_superstructure_rc_engineered        260601 non-null  int8
 25  has_superstructure_other                260601 non-null  int8
 26  legal_ownership_status                  260601 non-null  category
 27  count_families                          260601 non-null  int8
 28  has_secondary_use                       260601 non-null  int8
 29  has_secondary_use_agriculture           260601 non-null  int8
 30  has_secondary_use_hotel                 260601 non-null  int8
 31  has_secondary_use_rental                260601 non-null  int8
 32  has_secondary_use_institution           260601 non-null  int8
 33  has_secondary_use_school                260601 non-null  int8
 34  has_secondary_use_industry              260601 non-null  int8
 35  has_secondary_use_health_post           260601 non-null  int8
 36  has_secondary_use_gov_office            260601 non-null  int8
 37  has_secondary_use_use_police            260601 non-null  int8
 38  has_secondary_use_other                 260601 non-null  int8
dtypes: category(8), int16(3), int32(1), int8(27)
memory usage: 11.2 MB

In [13]:
labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 2 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   building_id   260601 non-null  int64
 1   damage_grade  260601 non-null  int64
dtypes: int64(2)
memory usage: 4.0 MB

In [14]:
labels["building_id"] = labels["building_id"].astype(np.int32)
labels["damage_grade"] = labels["damage_grade"].astype(np.int8)
labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 2 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   building_id   260601 non-null  int32
 1   damage_grade  260601 non-null  int8
dtypes: int32(1), int8(1)
memory usage: 1.2 MB

# Nuevo Modelo

In [36]:
important_values = values\
                .merge(labels, on="building_id")
important_values.drop(columns=["building_id"], inplace = True)
important_values["geo_level_1_id"] = important_values["geo_level_1_id"].astype("category")
important_values

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
0,6,487,12198,2,30,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,3
1,8,900,2812,2,10,8,7,o,r,n,...,0,0,0,0,0,0,0,0,0,2
2,21,363,8973,2,10,5,5,t,r,n,...,0,0,0,0,0,0,0,0,0,3
3,22,418,10694,2,10,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,2
4,11,131,1488,3,30,8,9,t,r,n,...,0,0,0,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260596,25,1335,1621,1,55,6,3,n,r,n,...,0,0,0,0,0,0,0,0,0,2
260597,17,715,2060,2,0,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,3
260598,17,51,8163,3,55,6,7,t,r,q,...,0,0,0,0,0,0,0,0,0,3
260599,26,39,1851,2,10,14,6,t,r,x,...,0,0,0,0,0,0,0,0,0,2
260600,21,9,9101,3,10,7,6,n,r,n,...,0,0,0,0,0,0,0,0,0,3

In [37]:
important_values.shape

(260601, 39)

In [38]:

X_train, X_test, y_train, y_test = train_test_split(important_values.drop(columns = 'damage_grade'),
                                                    important_values['damage_grade'], test_size = 0.2, random_state = 123)

In [39]:
#OneHotEncoding
def encode_and_bind(original_dataframe, feature_to_encode):
    dummies = pd.get_dummies(original_dataframe[[feature_to_encode]])
    res = pd.concat([original_dataframe, dummies], axis=1)
    res = res.drop([feature_to_encode], axis=1)
    return(res) 

features_to_encode = ["geo_level_1_id", "land_surface_condition", "foundation_type", "roof_type",\
                     "position", "ground_floor_type", "other_floor_type",\
                     "plan_configuration", "legal_ownership_status"]
for feature in features_to_encode:
    X_train = encode_and_bind(X_train, feature)
    X_test = encode_and_bind(X_test, feature)

In [40]:
X_train

,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,...,plan_configuration_m,plan_configuration_n,plan_configuration_o,plan_configuration_q,plan_configuration_s,plan_configuration_u,legal_ownership_status_a,legal_ownership_status_r,legal_ownership_status_v,legal_ownership_status_w
103291,1274,4190,2,25,8,5,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
233923,1207,12014,1,10,9,3,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
166653,944,8232,3,40,7,6,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
150634,488,12448,2,0,7,5,0,1,0,0,...,0,0,0,0,1,0,0,0,1,0
82720,302,5339,1,10,5,3,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192476,217,10644,1,25,4,6,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
17730,600,4813,2,20,13,8,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
28030,463,4692,2,10,9,4,1,1,0,0,...,0,0,0,0,0,0,0,0,1,0
15725,600,157,2,50,5,8,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
249342,229,4027,2,15,8,5,0,1,1,0,...,0,0,0,0,0,0,0,0,1,0

In [20]:
# Busco los mejores tres parametros indicados abajo.
max_features = [35, 40, 45]
min_samples_split = [10, 15, 20]
min_impurity_decrease = [0.0, 0.01, 0.025, 0.05, 0.1]

hyperF = {'min_impurity_decrease': min_impurity_decrease,
          'max_features': max_features,  
          'min_samples_split': min_samples_split}

gridF = GridSearchCV(estimator = RandomForestClassifier(random_state = 123,
                                                        n_estimators = 150,
                                                        max_depth = None,
                                                        min_samples_leaf = 1,
                                                        criterion = "gini"),
                     scoring = 'f1_micro',
                     param_grid = hyperF,
                     cv = 3,
                     verbose = 1, 
                     n_jobs = -1)

bestF = gridF.fit(X_train, y_train)

Fitting 3 folds for each of 45 candidates, totalling 135 fits

In [21]:
res = pd.DataFrame(bestF.cv_results_)
res

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_max_features,param_min_impurity_decrease,param_min_samples_split,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,333.635058,2.125722,9.543843,0.744543,35,0.0,10,"{'max_features': 35, 'min_impurity_decrease': ...",0.734596,0.734275,0.733901,0.734257,0.000284,9
1,331.011370,1.087494,7.969948,0.177486,35,0.0,15,"{'max_features': 35, 'min_impurity_decrease': ...",0.735934,0.734937,0.733729,0.734867,0.000902,6
2,313.677559,18.037213,9.300500,0.915098,35,0.0,20,"{'max_features': 35, 'min_impurity_decrease': ...",0.735258,0.735729,0.734347,0.735111,0.000573,4
3,45.896631,0.245644,1.256777,0.003561,35,0.01,10,"{'max_features': 35, 'min_impurity_decrease': ...",0.624903,0.623099,0.624236,0.624079,0.000745,10
4,49.302757,2.370528,1.304589,0.027726,35,0.01,15,"{'max_features': 35, 'min_impurity_decrease': ...",0.624903,0.623099,0.624236,0.624079,0.000745,10
5,45.892538,1.426644,1.195135,0.021094,35,0.01,20,"{'max_features': 35, 'min_impurity_decrease': ...",0.624903,0.623099,0.624236,0.624079,0.000745,10
6,26.675335,0.320147,1.120123,0.010568,35,0.025,10,"{'max_features': 35, 'min_impurity_decrease': ...",0.623219,0.621055,0.622365,0.622213,0.000890,16
7,26.658970,1.400499,1.183396,0.080421,35,0.025,15,"{'max_features': 35, 'min_impurity_decrease': ...",0.623219,0.621055,0.622365,0.622213,0.000890,16
8,25.641108,0.303641,1.079201,0.027240,35,0.025,20,"{'max_features': 35, 'min_impurity_decrease': ...",0.623219,0.621055,0.622365,0.622213,0.000890,16
9,21.020616,1.212255,1.081902,0.088815,35,0.05,10,"{'max_features': 35, 'min_impurity_decrease': ...",0.569416,0.569424,0.569410,0.569417,0.000006,28
10,20.147880,0.257574,1.109263,0.020234,35,0.05,15,"{'max_features': 35, 'min_impurity_decrease': ...",0.569416,0.569424,0.569410,0.569417,0.000006,28
11,21.392323,0.811346,1.147154,0.068686,35,0.05,20,"{'max_features': 35, 'min_impurity_decrease': ...",0.569416,0.569424,0.569410,0.569417,0.000006,28
12,20.627358,0.476770,1.100046,0.027805,35,0.1,10,"{'max_features': 35, 'min_impurity_decrease': ...",0.569416,0.569424,0.569410,0.569417,0.000006,28
13,21.048801,0.192151,1.166093,0.052237,35,0.1,15,"{'max_features': 35, 'min_impurity_decrease': ...",0.569416,0.569424,0.569410,0.569417,0.000006,28
14,22.036835,0.706474,1.260207,0.035168,35,0.1,20,"{'max_features': 35, 'min_impurity_decrease': ...",0.569416,0.569424,0.569410,0.569417,0.000006,28
15,340.131762,5.444921,10.000441,0.574989,40,0.0,10,"{'max_features': 40, 'min_impurity_decrease': ...",0.735027,0.734419,0.734419,0.734622,0.000287,7
16,331.578558,2.099430,8.578867,0.663640,40,0.0,15,"{'max_features': 40, 'min_impurity_decrease': ...",0.736740,0.735758,0.734477,0.735658,0.000927,3
17,312.907401,8.555625,8.874619,1.136757,40,0.0,20,"{'max_features': 40, 'min_impurity_decrease': ...",0.734581,0.734664,0.733901,0.734382,0.000342,8
18,47.635342,2.512871,1.242146,0.021029,40,0.01,10,"{'max_features': 40, 'min_impurity_decrease': ...",0.624658,0.622825,0.623962,0.623815,0.000755,13
19,48.389156,1.769462,1.254025,0.015064,40,0.01,15,"{'max_features': 40, 'min_impurity_decrease': ...",0.624658,0.622825,0.623962,0.623815,0.000755,13
20,48.336456,0.298545,1.175037,0.023652,40,0.01,20,"{'max_features': 40, 'min_impurity_decrease': ...",0.624658,0.622825,0.623962,0.623815,0.000755,13
21,29.530893,1.207231,1.182521,0.029316,40,0.025,10,"{'max_features': 40, 'min_impurity_decrease': ...",0.623219,0.621055,0.622365,0.622213,0.000890,16
22,27.612580,1.150294,1.034498,0.017554,40,0.025,15,"{'max_features': 40, 'min_impurity_decrease': ...",0.623219,0.621055,0.622365,0.622213,0.000890,16
23,25.762257,0.116221,1.075538,0.018664,40,0.025,20,"{'max_features': 40, 'min_impurity_decrease': ...",0.623219,0.621055,0.622365,0.622213,0.000890,16
24,21.088438,1.083772,1.071865,0.051183,40,0.05,10,"{'max_features': 40, 'min_impurity_decrease': ...",0.569416,0.569424,0.569410,0.569417,0.000006,28
25,20.500211,0.243081,1.006472,0.005852,40,0.05,15,"{'max_features': 40, 'min_impurity_decrease': ...",0.569416,0.569424,0.569410,0.569417,0.000006,28
26,20.107094,0.165263,1.029156,0.026344,40,0.05,20,"{'max_features': 40, 'min_impurity_decrease': ...",0.569416,0.569424,0.569410,0.569417,0.000006,28
27,20.999063,1.085832,1.063312,0.054513,40,0.1,10,"{'max_features': 40, 'min_impurity_decrease': ...",0.569416,0.569424,0.569410,0.569417,0.000006,28
28,21.203801,0.179003,1.134930,0.054577,40,0.1,15,"{'max_features': 40, 'min_impurity_decrease': ...",0.569416,0.569424,0.569410,0.569417,0.000006,28
29,22.069052,1.460587,1.165704,0.095340,40,0.1,20,"{'max_features': 40, 'min_impurity_decrease': ...",0.569416,0.569424,0.569410,0.569417,0.000006,28
30,364.563810,2.239236,9.988639,0.918939,45,0.0,10,"{'max_features': 45, 'min_impurity_decrease': ...",0.735445,0.734952,0.734894,0.735097,0.000247,5
31,357.149518,3.555264,9.058452,0.326657,45,0.0,15,"{'max_features': 45, 'min_impurity_decrease': ...",0.736035,0.735916,0.735570,0.735840,0.000197,1
32,310.520713,57.210598,6.597929,2.844984,45,0.0,20,"{'max_features': 45, 'min_impurity_decrease': ...",0.736035,0.735901,0.735139,0.735692,0.000395,2
33,52.203470,0.500128,1.243496,0.057088,45,0.01,10,"{'max_features': 45, 'min_impurity_decrease': ...",0.623219,0.621055,0.622365,0.622213,0.000890,16
34,53.379018,2.221971,1.243113,0.052154,45,0.01,15,"{'max_features': 45, 'min_impurity_decrease': ...",0.623219,0.621055,0.622365,0.622213,0.000890,16
35,55.092540,0.799236,1.195292,0.051674,45,0.01,20,"{'max_features': 45, 'min_impurity_decrease': ...",0.623219,0.621055,0.622365,0.622213,0.000890,16
36,33.892153,1.122685,1.159039,0.052404,45,0.025,10,"{'max_features': 45, 'min_impurity_decrease': ...",0.623219,0.621055,0.622365,0.622213,0.000890,16
37,30.460543,0.118764,1.049166,0.007115,45,0.025,15,"{'max_features': 45, 'min_impurity_decrease': ...",0.623219,0.621055,0.622365,0.622213,0.000890,16
38,30.139888,0.600908,1.043463,0.016589,45,0.025,20,"{'max_features': 45, 'min_impurity_decrease': ...",0.623219,0.621055,0.622365,0.622213,0.000890,16
39,21.923531,0.100152,1.031126,0.018474,45,0.05,10,"{'max_features': 45, 'min_impurity_decrease': ...",0.569416,0.569424,0.569410,0.569417,0.000006,28
40,22.549285,0.711235,1.074221,0.047848,45,0.05,15,"{'max_features': 45, 'min_impurity_decrease': ...",0.569416,0.569424,0.569410,0.569417,0.000006,28
41,22.839382,0.180147,1.062298,0.016884,45,0.05,20,"{'max_features': 45, 'min_impurity_decrease': ...",0.569416,0.569424,0.569410,0.569417,0.000006,28
42,22.371509,0.306765,1.036227,0.011805,45,0.1,10,"{'max_features': 45, 'min_impurity_decrease': ...",0.569416,0.569424,0.569410,0.569417,0.000006,28
43,22.259765,0.821090,0.852999,0.163265,45,0.1,15,"{'max_features': 45, 'min_impurity_decrease': ...",0.569416,0.569424,0.569410,0.569417,0.000006,28
44,17.017640,2.010541,0.480721,0.077019,45,0.1,20,"{'max_features': 45, 'min_impurity_decrease': ...",0.569416,0.569424,0.569410,0.569417,0.000006,28

In [41]:
# Utilizo los mejores parametros segun el GridSearch
rf_model = RandomForestClassifier(n_estimators = 150,
                                  max_depth = None,
                                  max_features = 45,
                                  min_samples_split = 15,
                                  min_samples_leaf = 1,
                                  criterion = "gini",
                                  verbose=True)
rf_model.fit(X_train, y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 150 out of 150 | elapsed:  2.6min finished

RandomForestClassifier(max_features=45, min_samples_split=15, n_estimators=150,
                       verbose=True)

In [42]:
rf_model.score(X_train, y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 150 out of 150 | elapsed:    9.1s finished

0.8665243668457406

In [43]:
# Calculo el F1 score para mi training set.
y_preds = rf_model.predict(X_test)
f1_score(y_test, y_preds, average='micro')

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 150 out of 150 | elapsed:    2.2s finished

0.7394524280040674

In [44]:
rf_model.feature_importances_

array([1.34054836e-01, 1.25662957e-01, 1.46129872e-02, 7.15529480e-02,
       7.04349362e-02, 4.25831831e-02, 5.55097599e-03, 1.75567393e-02,
       5.69936917e-03, 2.63961594e-03, 5.49617792e-03, 6.44277139e-03,
       1.20294393e-02, 5.65389920e-03, 3.59421818e-03, 1.41614423e-03,
       3.37927360e-03, 1.94510685e-02, 7.08353709e-03, 5.19154059e-03,
       3.09549290e-03, 1.10756700e-03, 2.12613694e-04, 7.94754025e-05,
       3.70908637e-04, 5.49577055e-05, 2.03206271e-05, 2.14630220e-05,
       1.28942533e-03, 1.03340559e-03, 1.06869534e-03, 7.07143375e-04,
       3.67886186e-03, 2.78762850e-03, 9.56982633e-04, 5.44811547e-03,
       7.16369259e-03, 1.98705452e-02, 1.55856787e-03, 1.07804777e-02,
       5.29048423e-03, 1.13503209e-03, 4.05084561e-03, 8.80142656e-04,
       8.01211634e-04, 1.30358748e-03, 1.01767102e-01, 1.34930672e-02,
       4.28294989e-04, 2.82432261e-03, 2.26549803e-02, 1.50398547e-03,
       6.07535052e-04, 8.01600902e-04, 1.17992544e-03, 1.59385122e-02,
       1.34572125e-02, 5.03374855e-04, 1.81798691e-04, 7.56509088e-04,
       6.92961751e-03, 4.00482321e-03, 7.72540855e-03, 1.49602581e-03,
       8.91014402e-03, 3.58768542e-02, 1.98372453e-03, 2.20397655e-03,
       7.36689386e-03, 7.42306615e-03, 8.30154627e-03, 4.23565861e-03,
       8.66164060e-04, 8.28896089e-03, 7.20457194e-03, 6.55922140e-03,
       4.80169857e-04, 2.07497987e-02, 5.67079350e-03, 6.72950212e-04,
       3.46978633e-03, 1.13896551e-02, 1.57591157e-03, 6.25788954e-03,
       3.51991954e-04, 2.85602909e-04, 3.88626981e-03, 1.38414309e-05,
       6.27048575e-05, 8.77669867e-05, 1.50652190e-04, 3.36555491e-03,
       4.16542886e-04, 2.17200655e-03, 2.08359351e-03, 1.23507915e-03,
       3.45319205e-03, 1.83910554e-03])

In [45]:
test_values = pd.read_csv('../csv/test_values.csv', index_col = "building_id")
test_values

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
building_id,,,,,,,,,,,,,,,,,,,,,
300051,17,596,11307,3,20,7,6,t,r,n,...,0,0,0,0,0,0,0,0,0,0
99355,6,141,11987,2,25,13,5,t,r,n,...,1,0,0,0,0,0,0,0,0,0
890251,22,19,10044,2,5,4,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
745817,26,39,633,1,0,19,3,t,r,x,...,0,0,1,0,0,0,0,0,0,0
421793,17,289,7970,3,15,8,7,t,r,q,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310028,4,605,3623,3,70,20,6,t,r,q,...,1,0,0,0,0,0,0,0,0,0
663567,10,1407,11907,3,25,6,7,n,r,n,...,0,0,0,0,0,0,0,0,0,0
1049160,22,1136,7712,1,50,3,3,t,r,n,...,0,0,0,0,0,0,0,0,0,0
442785,6,1041,912,2,5,9,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
501372,26,36,6436,2,10,11,4,t,r,q,...,0,0,0,0,0,0,0,0,0,0

In [46]:
test_values_subset = test_values
test_values_subset["geo_level_1_id"] = test_values_subset["geo_level_1_id"].astype("category")
test_values_subset

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
building_id,,,,,,,,,,,,,,,,,,,,,
300051,17,596,11307,3,20,7,6,t,r,n,...,0,0,0,0,0,0,0,0,0,0
99355,6,141,11987,2,25,13,5,t,r,n,...,1,0,0,0,0,0,0,0,0,0
890251,22,19,10044,2,5,4,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
745817,26,39,633,1,0,19,3,t,r,x,...,0,0,1,0,0,0,0,0,0,0
421793,17,289,7970,3,15,8,7,t,r,q,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310028,4,605,3623,3,70,20,6,t,r,q,...,1,0,0,0,0,0,0,0,0,0
663567,10,1407,11907,3,25,6,7,n,r,n,...,0,0,0,0,0,0,0,0,0,0
1049160,22,1136,7712,1,50,3,3,t,r,n,...,0,0,0,0,0,0,0,0,0,0
442785,6,1041,912,2,5,9,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
501372,26,36,6436,2,10,11,4,t,r,q,...,0,0,0,0,0,0,0,0,0,0

In [47]:
def encode_and_bind(original_dataframe, feature_to_encode):
    dummies = pd.get_dummies(original_dataframe[[feature_to_encode]])
    res = pd.concat([original_dataframe, dummies], axis=1)
    res = res.drop([feature_to_encode], axis=1)
    return(res) 

features_to_encode = ["geo_level_1_id", "land_surface_condition", "foundation_type", "roof_type",\
                     "position", "ground_floor_type", "other_floor_type",\
                     "plan_configuration", "legal_ownership_status"]
for feature in features_to_encode:
    test_values_subset = encode_and_bind(test_values_subset, feature)
test_values_subset

,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,...,plan_configuration_m,plan_configuration_n,plan_configuration_o,plan_configuration_q,plan_configuration_s,plan_configuration_u,legal_ownership_status_a,legal_ownership_status_r,legal_ownership_status_v,legal_ownership_status_w
building_id,,,,,,,,,,,,,,,,,,,,,
300051,596,11307,3,20,7,6,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
99355,141,11987,2,25,13,5,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
890251,19,10044,2,5,4,5,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
745817,39,633,1,0,19,3,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
421793,289,7970,3,15,8,7,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310028,605,3623,3,70,20,6,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
663567,1407,11907,3,25,6,7,1,1,1,0,...,0,0,0,0,0,0,0,0,1,0
1049160,1136,7712,1,50,3,3,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
442785,1041,912,2,5,9,5,1,1,0,0,...,0,0,0,0,0,0,1,0,0,0
501372,36,6436,2,10,11,4,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [50]:
# Genero las predicciones para los test.
preds = rf_model.predict(test_values_subset)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 150 out of 150 | elapsed:    3.6s finished

In [51]:
submission_format = pd.read_csv('../csv/submission_format.csv', index_col = "building_id")

In [52]:
my_submission = pd.DataFrame(data=preds,
                             columns=submission_format.columns,
                             index=submission_format.index)

In [53]:
my_submission.head()

             damage_grade
building_id
300051                  3
99355                   2
890251                  2
745817                  1
421793                  3

In [56]:
my_submission.to_csv('../csv/predictions/jf-model-5-submission-all-params.csv')

In [57]:
!head ../csv/predictions/jf-model-5-submission-all-params.csv

building_id,damage_grade
300051,3
99355,2
890251,2
745817,1
421793,3
871976,2
691228,1
896100,3
343471,2