In [1]:
import numpy as np
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
from matplotlib import style
import matplotlib.ticker as ticker
import seaborn as sns

In [3]:
from sklearn.datasets import load_boston
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import f1_score
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import ParameterGrid
from sklearn.inspection import permutation_importance
import multiprocessing

In [4]:
labels = pd.read_csv('../csv/train_labels.csv')
labels.head()

   building_id  damage_grade
0       802906             3
1        28830             2
2        94947             3
3       590882             2
4       201944             3

In [5]:
values = pd.read_csv('../csv/train_values.csv')
values.head(10).T

,0,1,2,3,4,5,6,7,8,9
building_id,802906,28830,94947,590882,201944,333020,728451,475515,441126,989500
geo_level_1_id,6,8,21,22,11,8,9,20,0,26
geo_level_2_id,487,900,363,418,131,558,475,323,757,886
geo_level_3_id,12198,2812,8973,10694,1488,6089,12066,12236,7219,994
count_floors_pre_eq,2,2,2,2,3,2,2,2,2,1
age,30,10,10,10,30,10,25,0,15,0
area_percentage,6,8,5,6,8,9,3,8,8,13
height_percentage,5,7,5,5,9,5,4,6,6,4
land_surface_condition,t,o,t,t,t,t,n,t,t,t
foundation_type,r,r,r,r,r,r,r,w,r,i
roof_type,n,n,n,n,n,n,n,q,q,n
ground_floor_type,f,x,f,f,f,f,x,v,f,v
other_floor_type,q,q,x,x,x,q,q,x,q,j
position,t,s,t,s,s,s,s,s,s,s
plan_configuration,d,d,d,d,d,d,d,u,d,d
has_superstructure_adobe_mud,1,0,0,0,1,0,0,0,0,0
has_superstructure_mud_mortar_stone,1,1,1,1,0,1,1,0,1,0
has_superstructure_stone_flag,0,0,0,0,0,0,0,0,0,0
has_superstructure_cement_mortar_stone,0,0,0,0,0,0,0,0,0,0
has_superstructure_mud_mortar_brick,0,0,0,0,0,0,0,0,0,0
has_superstructure_cement_mortar_brick,0,0,0,0,0,0,0,1,0,1
has_superstructure_timber,0,0,0,1,0,0,0,1,1,0
has_superstructure_bamboo,0,0,0,1,0,0,0,0,0,0
has_superstructure_rc_non_engineered,0,0,0,0,0,0,0,0,0,0
has_superstructure_rc_engineered,0,0,0,0,0,0,0,0,0,0
has_superstructure_other,0,0,0,0,0,0,0,0,0,0
legal_ownership_status,v,v,v,v,v,v,v,v,v,v
count_families,1,1,1,1,1,1,1,1,1,1
has_secondary_use,0,0,0,0,0,1,0,0,0,0
has_secondary_use_agriculture,0,0,0,0,0,1,0,0,0,0
has_secondary_use_hotel,0,0,0,0,0,0,0,0,0,0
has_secondary_use_rental,0,0,0,0,0,0,0,0,0,0
has_secondary_use_institution,0,0,0,0,0,0,0,0,0,0
has_secondary_use_school,0,0,0,0,0,0,0,0,0,0
has_secondary_use_industry,0,0,0,0,0,0,0,0,0,0
has_secondary_use_health_post,0,0,0,0,0,0,0,0,0,0
has_secondary_use_gov_office,0,0,0,0,0,0,0,0,0,0
has_secondary_use_use_police,0,0,0,0,0,0,0,0,0,0
has_secondary_use_other,0,0,0,0,0,0,0,0,0,0

In [6]:
values.isnull().values.any()

False

In [7]:
labels.isnull().values.any()

False

In [8]:
values.dtypes

building_id                                int64
geo_level_1_id                             int64
geo_level_2_id                             int64
geo_level_3_id                             int64
count_floors_pre_eq                        int64
age                                        int64
area_percentage                            int64
height_percentage                          int64
land_surface_condition                    object
foundation_type                           object
roof_type                                 object
ground_floor_type                         object
other_floor_type                          object
position                                  object
plan_configuration                        object
has_superstructure_adobe_mud               int64
has_superstructure_mud_mortar_stone        int64
has_superstructure_stone_flag              int64
has_superstructure_cement_mortar_stone     int64
has_superstructure_mud_mortar_brick        int64
has_superstructure_cement_mortar_brick     int64
has_superstructure_timber                  int64
has_superstructure_bamboo                  int64
has_superstructure_rc_non_engineered       int64
has_superstructure_rc_engineered           int64
has_superstructure_other                   int64
legal_ownership_status                    object
count_families                             int64
has_secondary_use                          int64
has_secondary_use_agriculture              int64
has_secondary_use_hotel                    int64
has_secondary_use_rental                   int64
has_secondary_use_institution              int64
has_secondary_use_school                   int64
has_secondary_use_industry                 int64
has_secondary_use_health_post              int64
has_secondary_use_gov_office               int64
has_secondary_use_use_police               int64
has_secondary_use_other                    int64
dtype: object

In [9]:
values["building_id"].count() == values["building_id"].drop_duplicates().count()

True

In [10]:
values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 39 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int64
 1   geo_level_1_id                          260601 non-null  int64
 2   geo_level_2_id                          260601 non-null  int64
 3   geo_level_3_id                          260601 non-null  int64
 4   count_floors_pre_eq                     260601 non-null  int64
 5   age                                     260601 non-null  int64
 6   area_percentage                         260601 non-null  int64
 7   height_percentage                       260601 non-null  int64
 8   land_surface_condition                  260601 non-null  object
 9   foundation_type                         260601 non-null  object
 10  roof_type                               260601 non-null  object
 11  ground_floor_type                       260601 non-null  object
 12  other_floor_type                        260601 non-null  object
 13  position                                260601 non-null  object
 14  plan_configuration                      260601 non-null  object
 15  has_superstructure_adobe_mud            260601 non-null  int64
 16  has_superstructure_mud_mortar_stone     260601 non-null  int64
 17  has_superstructure_stone_flag           260601 non-null  int64
 18  has_superstructure_cement_mortar_stone  260601 non-null  int64
 19  has_superstructure_mud_mortar_brick     260601 non-null  int64
 20  has_superstructure_cement_mortar_brick  260601 non-null  int64
 21  has_superstructure_timber               260601 non-null  int64
 22  has_superstructure_bamboo               260601 non-null  int64
 23  has_superstructure_rc_non_engineered    260601 non-null  int64
 24  has_superstructure_rc_engineered        260601 non-null  int64
 25  has_superstructure_other                260601 non-null  int64
 26  legal_ownership_status                  260601 non-null  object
 27  count_families                          260601 non-null  int64
 28  has_secondary_use                       260601 non-null  int64
 29  has_secondary_use_agriculture           260601 non-null  int64
 30  has_secondary_use_hotel                 260601 non-null  int64
 31  has_secondary_use_rental                260601 non-null  int64
 32  has_secondary_use_institution           260601 non-null  int64
 33  has_secondary_use_school                260601 non-null  int64
 34  has_secondary_use_industry              260601 non-null  int64
 35  has_secondary_use_health_post           260601 non-null  int64
 36  has_secondary_use_gov_office            260601 non-null  int64
 37  has_secondary_use_use_police            260601 non-null  int64
 38  has_secondary_use_other                 260601 non-null  int64
dtypes: int64(31), object(8)
memory usage: 77.5+ MB

In [11]:
to_be_categorized = ["land_surface_condition", "foundation_type", "roof_type",\
                     "position", "ground_floor_type", "other_floor_type",\
                     "plan_configuration", "legal_ownership_status"]
for row in to_be_categorized:
    values[row] = values[row].astype("category")
values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 39 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int64
 1   geo_level_1_id                          260601 non-null  int64
 2   geo_level_2_id                          260601 non-null  int64
 3   geo_level_3_id                          260601 non-null  int64
 4   count_floors_pre_eq                     260601 non-null  int64
 5   age                                     260601 non-null  int64
 6   area_percentage                         260601 non-null  int64
 7   height_percentage                       260601 non-null  int64
 8   land_surface_condition                  260601 non-null  category
 9   foundation_type                         260601 non-null  category
 10  roof_type                               260601 non-null  category
 11  ground_floor_type                       260601 non-null  category
 12  other_floor_type                        260601 non-null  category
 13  position                                260601 non-null  category
 14  plan_configuration                      260601 non-null  category
 15  has_superstructure_adobe_mud            260601 non-null  int64
 16  has_superstructure_mud_mortar_stone     260601 non-null  int64
 17  has_superstructure_stone_flag           260601 non-null  int64
 18  has_superstructure_cement_mortar_stone  260601 non-null  int64
 19  has_superstructure_mud_mortar_brick     260601 non-null  int64
 20  has_superstructure_cement_mortar_brick  260601 non-null  int64
 21  has_superstructure_timber               260601 non-null  int64
 22  has_superstructure_bamboo               260601 non-null  int64
 23  has_superstructure_rc_non_engineered    260601 non-null  int64
 24  has_superstructure_rc_engineered        260601 non-null  int64
 25  has_superstructure_other                260601 non-null  int64
 26  legal_ownership_status                  260601 non-null  category
 27  count_families                          260601 non-null  int64
 28  has_secondary_use                       260601 non-null  int64
 29  has_secondary_use_agriculture           260601 non-null  int64
 30  has_secondary_use_hotel                 260601 non-null  int64
 31  has_secondary_use_rental                260601 non-null  int64
 32  has_secondary_use_institution           260601 non-null  int64
 33  has_secondary_use_school                260601 non-null  int64
 34  has_secondary_use_industry              260601 non-null  int64
 35  has_secondary_use_health_post           260601 non-null  int64
 36  has_secondary_use_gov_office            260601 non-null  int64
 37  has_secondary_use_use_police            260601 non-null  int64
 38  has_secondary_use_other                 260601 non-null  int64
dtypes: category(8), int64(31)
memory usage: 63.6 MB

In [12]:
datatypes = dict(values.dtypes)
for row in values.columns:
    if datatypes[row] != "int64" and datatypes[row] != "int32" and \
       datatypes[row] != "int16" and datatypes[row] != "int8":
        continue
    if values[row].nlargest(1).item() > 32767 and values[row].nlargest(1).item() < 2**31:
        values[row] = values[row].astype(np.int32)
    elif values[row].nlargest(1).item() > 127:
        values[row] = values[row].astype(np.int16)
    else:
        values[row] = values[row].astype(np.int8)
values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 39 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int32
 1   geo_level_1_id                          260601 non-null  int8
 2   geo_level_2_id                          260601 non-null  int16
 3   geo_level_3_id                          260601 non-null  int16
 4   count_floors_pre_eq                     260601 non-null  int8
 5   age                                     260601 non-null  int16
 6   area_percentage                         260601 non-null  int8
 7   height_percentage                       260601 non-null  int8
 8   land_surface_condition                  260601 non-null  category
 9   foundation_type                         260601 non-null  category
 10  roof_type                               260601 non-null  category
 11  ground_floor_type                       260601 non-null  category
 12  other_floor_type                        260601 non-null  category
 13  position                                260601 non-null  category
 14  plan_configuration                      260601 non-null  category
 15  has_superstructure_adobe_mud            260601 non-null  int8
 16  has_superstructure_mud_mortar_stone     260601 non-null  int8
 17  has_superstructure_stone_flag           260601 non-null  int8
 18  has_superstructure_cement_mortar_stone  260601 non-null  int8
 19  has_superstructure_mud_mortar_brick     260601 non-null  int8
 20  has_superstructure_cement_mortar_brick  260601 non-null  int8
 21  has_superstructure_timber               260601 non-null  int8
 22  has_superstructure_bamboo               260601 non-null  int8
 23  has_superstructure_rc_non_engineered    260601 non-null  int8
 24  has_superstructure_rc_engineered        260601 non-null  int8
 25  has_superstructure_other                260601 non-null  int8
 26  legal_ownership_status                  260601 non-null  category
 27  count_families                          260601 non-null  int8
 28  has_secondary_use                       260601 non-null  int8
 29  has_secondary_use_agriculture           260601 non-null  int8
 30  has_secondary_use_hotel                 260601 non-null  int8
 31  has_secondary_use_rental                260601 non-null  int8
 32  has_secondary_use_institution           260601 non-null  int8
 33  has_secondary_use_school                260601 non-null  int8
 34  has_secondary_use_industry              260601 non-null  int8
 35  has_secondary_use_health_post           260601 non-null  int8
 36  has_secondary_use_gov_office            260601 non-null  int8
 37  has_secondary_use_use_police            260601 non-null  int8
 38  has_secondary_use_other                 260601 non-null  int8
dtypes: category(8), int16(3), int32(1), int8(27)
memory usage: 11.2 MB

In [13]:
labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 2 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   building_id   260601 non-null  int64
 1   damage_grade  260601 non-null  int64
dtypes: int64(2)
memory usage: 4.0 MB

In [14]:
labels["building_id"] = labels["building_id"].astype(np.int32)
labels["damage_grade"] = labels["damage_grade"].astype(np.int8)
labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 2 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   building_id   260601 non-null  int32
 1   damage_grade  260601 non-null  int8
dtypes: int32(1), int8(1)
memory usage: 1.2 MB

# Nuevo Modelo

In [15]:
important_values = values\
                .merge(labels, on="building_id")
important_values.drop(columns=["building_id"], inplace = True)
important_values["geo_level_1_id"] = important_values["geo_level_1_id"].astype("category")
important_values

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
0,6,487,12198,2,30,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,3
1,8,900,2812,2,10,8,7,o,r,n,...,0,0,0,0,0,0,0,0,0,2
2,21,363,8973,2,10,5,5,t,r,n,...,0,0,0,0,0,0,0,0,0,3
3,22,418,10694,2,10,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,2
4,11,131,1488,3,30,8,9,t,r,n,...,0,0,0,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260596,25,1335,1621,1,55,6,3,n,r,n,...,0,0,0,0,0,0,0,0,0,2
260597,17,715,2060,2,0,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,3
260598,17,51,8163,3,55,6,7,t,r,q,...,0,0,0,0,0,0,0,0,0,3
260599,26,39,1851,2,10,14,6,t,r,x,...,0,0,0,0,0,0,0,0,0,2
260600,21,9,9101,3,10,7,6,n,r,n,...,0,0,0,0,0,0,0,0,0,3

In [41]:

X_train, X_test, y_train, y_test = train_test_split(important_values.drop(columns = 'damage_grade'),
                                                    important_values['damage_grade'], test_size = 0.2, random_state = 123)

In [42]:
#OneHotEncoding
def encode_and_bind(original_dataframe, feature_to_encode):
    dummies = pd.get_dummies(original_dataframe[[feature_to_encode]])
    res = pd.concat([original_dataframe, dummies], axis=1)
    res = res.drop([feature_to_encode], axis=1)
    return(res) 

features_to_encode = ["geo_level_1_id", "land_surface_condition", "foundation_type", "roof_type",\
                     "position", "ground_floor_type", "other_floor_type",\
                     "plan_configuration", "legal_ownership_status"]
for feature in features_to_encode:
    X_train = encode_and_bind(X_train, feature)
    X_test = encode_and_bind(X_test, feature)

In [18]:
# # Busco los mejores tres parametros indicados abajo.
# n_estimators = [100, 125, 150]
# min_samples_split = [2, 5, 10]
# min_samples_leaf = [1, 2, 5]
# criterion = ['gini', 'entropy']

# hyperF = {'n_estimators': n_estimators,
#           'min_samples_split': min_samples_split,  
#           'min_samples_leaf': min_samples_leaf,
#           'criterion': criterion}

# gridF = GridSearchCV(estimator = RandomForestClassifier(random_state = 123),
#                      scoring = 'f1_micro',
#                      param_grid = hyperF,
#                      cv = 3,
#                      verbose = 1, 
#                      n_jobs = -1)

# bestF = gridF.fit(X_train, y_train)

Fitting 3 folds for each of 54 candidates, totalling 162 fits

/home/joaquinfontela/.local/lib/python3.8/site-packages/sklearn/model_selection/_search.py:922: UserWarning: One or more of the test scores are non-finite: [       nan        nan        nan 0.71442824 0.71471124 0.7153348
 0.72244339 0.72320126 0.72347947        nan        nan        nan
 0.72014581 0.72019378 0.72029451 0.72036646 0.72028012 0.72035687
        nan        nan        nan 0.709646   0.70957405 0.70974193
 0.709646   0.70957405 0.70974193        nan        nan        nan
 0.71282137 0.71319071 0.71368476 0.72137375 0.72179585 0.72209324
        nan        nan        nan 0.71804009 0.71837585 0.71861569
 0.71806887 0.71849097 0.71869243        nan        nan        nan
 0.70832693 0.70845164 0.70842766 0.70832693 0.70845164 0.70842766]
  warnings.warn(

In [19]:
pd.DataFrame(bestF.cv_results_)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_min_samples_leaf,param_min_samples_split,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.264995,0.017573,0.000000,0.000000,gini,1,1,100,"{'criterion': 'gini', 'min_samples_leaf': 1, '...",NaN,NaN,NaN,NaN,NaN,54
1,0.298359,0.022669,0.000000,0.000000,gini,1,1,125,"{'criterion': 'gini', 'min_samples_leaf': 1, '...",NaN,NaN,NaN,NaN,NaN,38
2,0.326656,0.020530,0.000000,0.000000,gini,1,1,150,"{'criterion': 'gini', 'min_samples_leaf': 1, '...",NaN,NaN,NaN,NaN,NaN,39
3,81.372372,1.475789,8.140713,0.041460,gini,1,2,100,"{'criterion': 'gini', 'min_samples_leaf': 1, '...",0.715515,0.713252,0.714518,0.714428,0.000926,21
4,102.079629,0.588829,10.888718,0.712066,gini,1,2,125,"{'criterion': 'gini', 'min_samples_leaf': 1, '...",0.716062,0.713568,0.714504,0.714711,0.001029,20
5,121.878676,2.120913,13.302495,0.392656,gini,1,2,150,"{'criterion': 'gini', 'min_samples_leaf': 1, '...",0.716522,0.714619,0.714863,0.715335,0.000846,19
6,75.579581,1.840651,8.227596,0.304691,gini,1,5,100,"{'criterion': 'gini', 'min_samples_leaf': 1, '...",0.723602,0.721771,0.721958,0.722443,0.000823,3
7,101.342332,1.804134,10.540398,0.780209,gini,1,5,125,"{'criterion': 'gini', 'min_samples_leaf': 1, '...",0.723947,0.722044,0.723612,0.723201,0.000830,2
8,117.475579,5.044498,14.201746,0.366559,gini,1,5,150,"{'criterion': 'gini', 'min_samples_leaf': 1, '...",0.724278,0.722749,0.723411,0.723479,0.000626,1
9,0.394215,0.012087,0.000000,0.000000,gini,2,1,100,"{'criterion': 'gini', 'min_samples_leaf': 2, '...",NaN,NaN,NaN,NaN,NaN,43
10,0.414604,0.006455,0.000000,0.000000,gini,2,1,125,"{'criterion': 'gini', 'min_samples_leaf': 2, '...",NaN,NaN,NaN,NaN,NaN,44
11,0.433330,0.002659,0.000000,0.000000,gini,2,1,150,"{'criterion': 'gini', 'min_samples_leaf': 2, '...",NaN,NaN,NaN,NaN,NaN,45
12,70.177026,1.232355,5.936189,0.182112,gini,2,2,100,"{'criterion': 'gini', 'min_samples_leaf': 2, '...",0.721400,0.718749,0.720288,0.720146,0.001087,12
13,90.955053,1.591689,8.029320,0.216045,gini,2,2,125,"{'criterion': 'gini', 'min_samples_leaf': 2, '...",0.721300,0.718849,0.720432,0.720194,0.001014,11
14,112.248966,5.368803,8.936791,0.348274,gini,2,2,150,"{'criterion': 'gini', 'min_samples_leaf': 2, '...",0.721487,0.719008,0.720389,0.720295,0.001014,9
15,74.666495,2.526464,6.224525,0.729174,gini,2,5,100,"{'criterion': 'gini', 'min_samples_leaf': 2, '...",0.721314,0.719511,0.720274,0.720366,0.000739,7
16,94.073738,2.362519,8.250873,0.610821,gini,2,5,125,"{'criterion': 'gini', 'min_samples_leaf': 2, '...",0.721098,0.719382,0.720360,0.720280,0.000703,10
17,106.449118,1.093043,9.050138,0.493056,gini,2,5,150,"{'criterion': 'gini', 'min_samples_leaf': 2, '...",0.720609,0.719641,0.720821,0.720357,0.000514,8
18,0.397255,0.005266,0.000000,0.000000,gini,5,1,100,"{'criterion': 'gini', 'min_samples_leaf': 5, '...",NaN,NaN,NaN,NaN,NaN,46
19,0.397580,0.007732,0.000000,0.000000,gini,5,1,125,"{'criterion': 'gini', 'min_samples_leaf': 5, '...",NaN,NaN,NaN,NaN,NaN,47
20,0.416587,0.013594,0.000000,0.000000,gini,5,1,150,"{'criterion': 'gini', 'min_samples_leaf': 5, '...",NaN,NaN,NaN,NaN,NaN,48
21,65.167583,0.378675,4.416879,0.131474,gini,5,2,100,"{'criterion': 'gini', 'min_samples_leaf': 5, '...",0.711457,0.708388,0.709093,0.709646,0.001313,27
22,84.758362,1.865848,5.410979,0.111303,gini,5,2,125,"{'criterion': 'gini', 'min_samples_leaf': 5, '...",0.711428,0.708474,0.708820,0.709574,0.001319,29
23,104.802109,7.007473,6.590513,0.053309,gini,5,2,150,"{'criterion': 'gini', 'min_samples_leaf': 5, '...",0.711428,0.708848,0.708949,0.709742,0.001193,25
24,66.957016,1.744036,4.452730,0.040203,gini,5,5,100,"{'criterion': 'gini', 'min_samples_leaf': 5, '...",0.711457,0.708388,0.709093,0.709646,0.001313,27
25,84.408133,0.924938,5.438203,0.290201,gini,5,5,125,"{'criterion': 'gini', 'min_samples_leaf': 5, '...",0.711428,0.708474,0.708820,0.709574,0.001319,29
26,98.299995,1.596118,6.028607,0.160368,gini,5,5,150,"{'criterion': 'gini', 'min_samples_leaf': 5, '...",0.711428,0.708848,0.708949,0.709742,0.001193,25
27,0.432234,0.006546,0.000000,0.000000,entropy,1,1,100,"{'criterion': 'entropy', 'min_samples_leaf': 1...",NaN,NaN,NaN,NaN,NaN,52
28,0.442130,0.020256,0.000000,0.000000,entropy,1,1,125,"{'criterion': 'entropy', 'min_samples_leaf': 1...",NaN,NaN,NaN,NaN,NaN,37
29,0.444586,0.009051,0.000000,0.000000,entropy,1,1,150,"{'criterion': 'entropy', 'min_samples_leaf': 1...",NaN,NaN,NaN,NaN,NaN,53
30,90.385610,5.220878,9.101244,0.100420,entropy,1,2,100,"{'criterion': 'entropy', 'min_samples_leaf': 1...",0.713213,0.713050,0.712201,0.712821,0.000443,24
31,105.710763,4.670559,11.189088,0.256474,entropy,1,2,125,"{'criterion': 'entropy', 'min_samples_leaf': 1...",0.714062,0.713295,0.712216,0.713191,0.000757,23
32,126.702577,0.364628,13.145185,0.356751,entropy,1,2,150,"{'criterion': 'entropy', 'min_samples_leaf': 1...",0.714594,0.713424,0.713036,0.713685,0.000662,22
33,79.485645,3.328377,8.191539,0.673341,entropy,1,5,100,"{'criterion': 'entropy', 'min_samples_leaf': 1...",0.722782,0.720216,0.721123,0.721374,0.001062,6
34,100.512649,0.912873,11.037391,0.326435,entropy,1,5,125,"{'criterion': 'entropy', 'min_samples_leaf': 1...",0.722451,0.721699,0.721238,0.721796,0.000500,5
35,118.477611,0.487417,11.962506,0.185690,entropy,1,5,150,"{'criterion': 'entropy', 'min_samples_leaf': 1...",0.723142,0.721368,0.721771,0.722093,0.000759,4
36,0.403001,0.007540,0.000000,0.000000,entropy,2,1,100,"{'criterion': 'entropy', 'min_samples_leaf': 2...",NaN,NaN,NaN,NaN,NaN,51
37,0.426068,0.014458,0.000000,0.000000,entropy,2,1,125,"{'criterion': 'entropy', 'min_samples_leaf': 2...",NaN,NaN,NaN,NaN,NaN,50
38,0.440728,0.005166,0.000000,0.000000,entropy,2,1,150,"{'criterion': 'entropy', 'min_samples_leaf': 2...",NaN,NaN,NaN,NaN,NaN,49
39,70.631489,1.779426,5.410833,0.354203,entropy,2,2,100,"{'criterion': 'entropy', 'min_samples_leaf': 2...",0.719659,0.716417,0.718044,0.718040,0.001323,18
40,92.594558,8.291634,7.878756,0.522378,entropy,2,2,125,"{'criterion': 'entropy', 'min_samples_leaf': 2...",0.720379,0.716792,0.717957,0.718376,0.001494,16
41,106.249948,1.673049,8.841468,0.134674,entropy,2,2,150,"{'criterion': 'entropy', 'min_samples_leaf': 2...",0.720451,0.716979,0.718418,0.718616,0.001424,14
42,69.960815,0.318403,5.455319,0.072842,entropy,2,5,100,"{'criterion': 'entropy', 'min_samples_leaf': 2...",0.719587,0.716346,0.718274,0.718069,0.001331,17
43,90.965712,1.028836,7.550746,0.063006,entropy,2,5,125,"{'criterion': 'entropy', 'min_samples_leaf': 2...",0.720379,0.716676,0.718418,0.718491,0.001512,15
44,109.703589,1.945555,9.133483,0.100039,entropy,2,5,150,"{'criterion': 'entropy', 'min_samples_leaf': 2...",0.720149,0.717554,0.718375,0.718692,0.001083,13
45,0.390913,0.005707,0.000000,0.000000,entropy,5,1,100,"{'criterion': 'entropy', 'min_samples_leaf': 5...",NaN,NaN,NaN,NaN,NaN,42
46,0.427803,0.008072,0.000000,0.000000,entropy,5,1,125,"{'criterion': 'entropy', 'min_samples_leaf': 5...",NaN,NaN,NaN,NaN,NaN,41
47,0.451348,0.009645,0.000000,0.000000,entropy,5,1,150,"{'criterion': 'entropy', 'min_samples_leaf': 5...",NaN,NaN,NaN,NaN,NaN,40
48,65.805000,1.202512,4.268069,0.116652,entropy,5,2,100,"{'criterion': 'entropy', 'min_samples_leaf': 5...",0.709572,0.707194,0.708215,0.708327,0.000974,35
49,84.699998,1.442076,5.668630,0.289328,entropy,5,2,125,"{'criterion': 'entropy', 'min_samples_leaf': 5...",0.709946,0.707654,0.707755,0.708452,0.001058,31
50,100.267239,2.723412,6.177265,0.181992,entropy,5,2,150,"{'criterion': 'entropy', 'min_samples_leaf': 5...",0.709788,0.707798,0.707697,0.708428,0.000963,33
51,65.378168,0.197615,4.146490,0.266211,entropy,5,5,100,"{'criterion': 'entropy', 'min_samples_leaf': 5...",0.709572,0.707194,0.708215,0.708327,0.000974,35
52,74.220802,6.050221,3.403806,0.798141,entropy,5,5,125,"{'criterion': 'entropy', 'min_samples_leaf': 5...",0.709946,0.707654,0.707755,0.708452,0.001058,31
53,64.858756,1.161421,2.290963,0.292951,entropy,5,5,150,"{'criterion': 'entropy', 'min_samples_leaf': 5...",0.709788,0.707798,0.707697,0.708428,0.000963,33

In [43]:
# Utilizo los mejores parametros segun el GridSearch
rf_model = RandomForestClassifier(n_estimators = 150,
                                  max_depth = None,
                                  max_features = 45,
                                  min_samples_split = 5,
                                  min_samples_leaf = 1,
                                  criterion = "gini",
                                  verbose=True)
rf_model.fit(X_train, y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 150 out of 150 | elapsed:  2.5min finished

RandomForestClassifier(max_features=45, min_samples_split=5, n_estimators=150,
                       verbose=True)

In [44]:
rf_model.score(X_train, y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 150 out of 150 | elapsed:    9.4s finished

0.951846699923254

In [45]:
# Calculo el F1 score para mi training set.
y_preds = rf_model.predict(X_test)
f1_score(y_test, y_preds, average='micro')

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 150 out of 150 | elapsed:    2.5s finished

0.7348093858521517

In [23]:
# rf_model.feature_importances_

In [24]:
# test_values = pd.read_csv('../csv/test_values.csv', index_col = "building_id")
# test_values

In [25]:
# test_values_subset = test_values
# test_values_subset["geo_level_1_id"] = test_values_subset["geo_level_1_id"].astype("category")
# test_values_subset

In [26]:
# def encode_and_bind(original_dataframe, feature_to_encode):
#     dummies = pd.get_dummies(original_dataframe[[feature_to_encode]])
#     res = pd.concat([original_dataframe, dummies], axis=1)
#     res = res.drop([feature_to_encode], axis=1)
#     return(res) 

# features_to_encode = ["geo_level_1_id", "land_surface_condition", "foundation_type", "roof_type",\
#                      "position", "ground_floor_type", "other_floor_type",\
#                      "plan_configuration", "legal_ownership_status"]
# for feature in features_to_encode:
#     test_values_subset = encode_and_bind(test_values_subset, feature)
# test_values_subset

In [27]:
# Genero las predicciones para los test.
# preds = rf_model.predict(test_values_subset)

In [28]:
# submission_format = pd.read_csv('../csv/submission_format.csv', index_col = "building_id")

In [29]:
# my_submission = pd.DataFrame(data=preds,
#                              columns=submission_format.columns,
#                              index=submission_format.index)

In [30]:
# my_submission.head()

In [31]:
# my_submission.to_csv('../csv/predictions/jf-model-4-submission-all-params.csv')

In [32]:
# !head ../csv/predictions/jf-model-4-submission-all-params.csv