In [1]:
# Tratamiento de datos
# ==============================================================================
import numpy as np
import pandas as pd
import statsmodels.api as sm

# Gr√°ficos
# ==============================================================================
import matplotlib.pyplot as plt

# Preprocesado y modelado
# ==============================================================================
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import ParameterGrid
from sklearn.inspection import permutation_importance
from sklearn.preprocessing import StandardScaler
import multiprocessing
from sklearn.model_selection import RandomizedSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import f1_score
from sklearn.pipeline import Pipeline

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

# PREPARO CSV

In [2]:
labels=pd.read_csv("train_labels.csv")
labels.head()

   building_id  damage_grade
0       802906             3
1        28830             2
2        94947             3
3       590882             2
4       201944             3

In [3]:
values=pd.read_csv("train_values.csv")
values.head()

   building_id  ...  has_secondary_use_other
0       802906  ...                        0
1        28830  ...                        0
2        94947  ...                        0
3       590882  ...                        0
4       201944  ...                        0

[5 rows x 39 columns]

In [4]:
values.isnull().values.any()

False

In [5]:
values = values.dropna()

In [6]:
labels.isnull().values.any()

False

In [7]:
values.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 260601 entries, 0 to 260600
Data columns (total 39 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int64
 1   geo_level_1_id                          260601 non-null  int64
 2   geo_level_2_id                          260601 non-null  int64
 3   geo_level_3_id                          260601 non-null  int64
 4   count_floors_pre_eq                     260601 non-null  int64
 5   age                                     260601 non-null  int64
 6   area_percentage                         260601 non-null  int64
 7   height_percentage                       260601 non-null  int64
 8   land_surface_condition                  260601 non-null  object
 9   foundation_type                         260601 non-null  object
 10  roof_type                               260601 non-null  object
 11  ground_floor_type                       260601 non-null  object
 12  other_floor_type                        260601 non-null  object
 13  position                                260601 non-null  object
 14  plan_configuration                      260601 non-null  object
 15  has_superstructure_adobe_mud            260601 non-null  int64
 16  has_superstructure_mud_mortar_stone     260601 non-null  int64
 17  has_superstructure_stone_flag           260601 non-null  int64
 18  has_superstructure_cement_mortar_stone  260601 non-null  int64
 19  has_superstructure_mud_mortar_brick     260601 non-null  int64
 20  has_superstructure_cement_mortar_brick  260601 non-null  int64
 21  has_superstructure_timber               260601 non-null  int64
 22  has_superstructure_bamboo               260601 non-null  int64
 23  has_superstructure_rc_non_engineered    260601 non-null  int64
 24  has_superstructure_rc_engineered        260601 non-null  int64
 25  has_superstructure_other                260601 non-null  int64
 26  legal_ownership_status                  260601 non-null  object
 27  count_families                          260601 non-null  int64
 28  has_secondary_use                       260601 non-null  int64
 29  has_secondary_use_agriculture           260601 non-null  int64
 30  has_secondary_use_hotel                 260601 non-null  int64
 31  has_secondary_use_rental                260601 non-null  int64
 32  has_secondary_use_institution           260601 non-null  int64
 33  has_secondary_use_school                260601 non-null  int64
 34  has_secondary_use_industry              260601 non-null  int64
 35  has_secondary_use_health_post           260601 non-null  int64
 36  has_secondary_use_gov_office            260601 non-null  int64
 37  has_secondary_use_use_police            260601 non-null  int64
 38  has_secondary_use_other                 260601 non-null  int64
dtypes: int64(31), object(8)
memory usage: 79.5+ MB

In [8]:
to_be_categorized =  ["land_surface_condition", "foundation_type", "roof_type",\
                     "position", "ground_floor_type", "other_floor_type",\
                     "plan_configuration", "legal_ownership_status"]
for row in to_be_categorized:
    values[row] = values[row].astype("category")
values.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 260601 entries, 0 to 260600
Data columns (total 39 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int64
 1   geo_level_1_id                          260601 non-null  int64
 2   geo_level_2_id                          260601 non-null  int64
 3   geo_level_3_id                          260601 non-null  int64
 4   count_floors_pre_eq                     260601 non-null  int64
 5   age                                     260601 non-null  int64
 6   area_percentage                         260601 non-null  int64
 7   height_percentage                       260601 non-null  int64
 8   land_surface_condition                  260601 non-null  category
 9   foundation_type                         260601 non-null  category
 10  roof_type                               260601 non-null  category
 11  ground_floor_type                       260601 non-null  category
 12  other_floor_type                        260601 non-null  category
 13  position                                260601 non-null  category
 14  plan_configuration                      260601 non-null  category
 15  has_superstructure_adobe_mud            260601 non-null  int64
 16  has_superstructure_mud_mortar_stone     260601 non-null  int64
 17  has_superstructure_stone_flag           260601 non-null  int64
 18  has_superstructure_cement_mortar_stone  260601 non-null  int64
 19  has_superstructure_mud_mortar_brick     260601 non-null  int64
 20  has_superstructure_cement_mortar_brick  260601 non-null  int64
 21  has_superstructure_timber               260601 non-null  int64
 22  has_superstructure_bamboo               260601 non-null  int64
 23  has_superstructure_rc_non_engineered    260601 non-null  int64
 24  has_superstructure_rc_engineered        260601 non-null  int64
 25  has_superstructure_other                260601 non-null  int64
 26  legal_ownership_status                  260601 non-null  category
 27  count_families                          260601 non-null  int64
 28  has_secondary_use                       260601 non-null  int64
 29  has_secondary_use_agriculture           260601 non-null  int64
 30  has_secondary_use_hotel                 260601 non-null  int64
 31  has_secondary_use_rental                260601 non-null  int64
 32  has_secondary_use_institution           260601 non-null  int64
 33  has_secondary_use_school                260601 non-null  int64
 34  has_secondary_use_industry              260601 non-null  int64
 35  has_secondary_use_health_post           260601 non-null  int64
 36  has_secondary_use_gov_office            260601 non-null  int64
 37  has_secondary_use_use_police            260601 non-null  int64
 38  has_secondary_use_other                 260601 non-null  int64
dtypes: category(8), int64(31)
memory usage: 65.6 MB

In [9]:
datatypes = dict(values.dtypes)
for row in values.columns:
    if datatypes[row] != "int64" and datatypes[row] != "int32" and \
       datatypes[row] != "int16" and datatypes[row] != "int8":
        continue
    if values[row].nlargest(1).item() > 32767 and values[row].nlargest(1).item() < 2**31:
        values[row] = values[row].astype(np.int32)
    elif values[row].nlargest(1).item() > 127:
        values[row] = values[row].astype(np.int16)
    else:
        values[row] = values[row].astype(np.int8)
values.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 260601 entries, 0 to 260600
Data columns (total 39 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int32
 1   geo_level_1_id                          260601 non-null  int8
 2   geo_level_2_id                          260601 non-null  int16
 3   geo_level_3_id                          260601 non-null  int16
 4   count_floors_pre_eq                     260601 non-null  int8
 5   age                                     260601 non-null  int16
 6   area_percentage                         260601 non-null  int8
 7   height_percentage                       260601 non-null  int8
 8   land_surface_condition                  260601 non-null  category
 9   foundation_type                         260601 non-null  category
 10  roof_type                               260601 non-null  category
 11  ground_floor_type                       260601 non-null  category
 12  other_floor_type                        260601 non-null  category
 13  position                                260601 non-null  category
 14  plan_configuration                      260601 non-null  category
 15  has_superstructure_adobe_mud            260601 non-null  int8
 16  has_superstructure_mud_mortar_stone     260601 non-null  int8
 17  has_superstructure_stone_flag           260601 non-null  int8
 18  has_superstructure_cement_mortar_stone  260601 non-null  int8
 19  has_superstructure_mud_mortar_brick     260601 non-null  int8
 20  has_superstructure_cement_mortar_brick  260601 non-null  int8
 21  has_superstructure_timber               260601 non-null  int8
 22  has_superstructure_bamboo               260601 non-null  int8
 23  has_superstructure_rc_non_engineered    260601 non-null  int8
 24  has_superstructure_rc_engineered        260601 non-null  int8
 25  has_superstructure_other                260601 non-null  int8
 26  legal_ownership_status                  260601 non-null  category
 27  count_families                          260601 non-null  int8
 28  has_secondary_use                       260601 non-null  int8
 29  has_secondary_use_agriculture           260601 non-null  int8
 30  has_secondary_use_hotel                 260601 non-null  int8
 31  has_secondary_use_rental                260601 non-null  int8
 32  has_secondary_use_institution           260601 non-null  int8
 33  has_secondary_use_school                260601 non-null  int8
 34  has_secondary_use_industry              260601 non-null  int8
 35  has_secondary_use_health_post           260601 non-null  int8
 36  has_secondary_use_gov_office            260601 non-null  int8
 37  has_secondary_use_use_police            260601 non-null  int8
 38  has_secondary_use_other                 260601 non-null  int8
dtypes: category(8), int16(3), int32(1), int8(27)
memory usage: 13.2 MB

In [10]:
labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 2 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   building_id   260601 non-null  int64
 1   damage_grade  260601 non-null  int64
dtypes: int64(2)
memory usage: 4.0 MB

In [11]:
labels["building_id"] = labels["building_id"].astype(np.int32)
labels["damage_grade"] = labels["damage_grade"].astype(np.int8)
labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 2 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   building_id   260601 non-null  int32
 1   damage_grade  260601 non-null  int8
dtypes: int32(1), int8(1)
memory usage: 1.2 MB

In [12]:
important_values = values\
                .merge(labels, on="building_id")
important_values.drop(columns=["building_id"], inplace = True)

In [13]:
important_values.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 260601 entries, 0 to 260600
Data columns (total 39 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   geo_level_1_id                          260601 non-null  int8
 1   geo_level_2_id                          260601 non-null  int16
 2   geo_level_3_id                          260601 non-null  int16
 3   count_floors_pre_eq                     260601 non-null  int8
 4   age                                     260601 non-null  int16
 5   area_percentage                         260601 non-null  int8
 6   height_percentage                       260601 non-null  int8
 7   land_surface_condition                  260601 non-null  category
 8   foundation_type                         260601 non-null  category
 9   roof_type                               260601 non-null  category
 10  ground_floor_type                       260601 non-null  category
 11  other_floor_type                        260601 non-null  category
 12  position                                260601 non-null  category
 13  plan_configuration                      260601 non-null  category
 14  has_superstructure_adobe_mud            260601 non-null  int8
 15  has_superstructure_mud_mortar_stone     260601 non-null  int8
 16  has_superstructure_stone_flag           260601 non-null  int8
 17  has_superstructure_cement_mortar_stone  260601 non-null  int8
 18  has_superstructure_mud_mortar_brick     260601 non-null  int8
 19  has_superstructure_cement_mortar_brick  260601 non-null  int8
 20  has_superstructure_timber               260601 non-null  int8
 21  has_superstructure_bamboo               260601 non-null  int8
 22  has_superstructure_rc_non_engineered    260601 non-null  int8
 23  has_superstructure_rc_engineered        260601 non-null  int8
 24  has_superstructure_other                260601 non-null  int8
 25  legal_ownership_status                  260601 non-null  category
 26  count_families                          260601 non-null  int8
 27  has_secondary_use                       260601 non-null  int8
 28  has_secondary_use_agriculture           260601 non-null  int8
 29  has_secondary_use_hotel                 260601 non-null  int8
 30  has_secondary_use_rental                260601 non-null  int8
 31  has_secondary_use_institution           260601 non-null  int8
 32  has_secondary_use_school                260601 non-null  int8
 33  has_secondary_use_industry              260601 non-null  int8
 34  has_secondary_use_health_post           260601 non-null  int8
 35  has_secondary_use_gov_office            260601 non-null  int8
 36  has_secondary_use_use_police            260601 non-null  int8
 37  has_secondary_use_other                 260601 non-null  int8
 38  damage_grade                            260601 non-null  int8
dtypes: category(8), int16(3), int8(28)
memory usage: 12.4 MB

In [14]:
X_train, X_test, y_train, y_test = train_test_split(important_values.drop(columns = 'damage_grade'),
                                        important_values['damage_grade'], test_size = 0.2, random_state = 123)


cat_cols = X_train.select_dtypes(include=['category', "bool"]).columns.to_list()
numeric_cols = X_train.select_dtypes(include=['int16', 'int8', "float64"]).columns.to_list()

preprocessor = ColumnTransformer([('onehot', OneHotEncoder(handle_unknown='ignore'), cat_cols)],
                                  remainder='passthrough')

X_train = preprocessor.fit_transform(X_train)
X_test  = preprocessor.transform(X_test)

"""
param_grid = {'n_neighbors'  : [12,13,14,15],
              "weights" : ["distance"],
              "algorithm" : ["ball_tree","auto", "kd_tree", "brute"],
              "metric" : ["euclidean", "manhattan", "minkowski"]
             }

grid = GridSearchCV(
        estimator  = KNeighborsClassifier(),
        param_grid = param_grid,
        scoring    = 'accuracy',
        n_jobs     = -1,
        cv         = RepeatedKFold(n_splits=2, n_repeats=1, random_state=123), 
        refit      = True,
        verbose    = 1,
        return_train_score = True
       )

grid.fit(X = X_train, y = y_train)

resultados = pd.DataFrame(grid.cv_results_)
resultados.filter(regex = '(param*|mean_t|std_t)') \
    .drop(columns = 'params') \
    .sort_values('mean_test_score', ascending = False) \
    .head(4)

modelo_final = grid.best_estimator_ """

'\nparam_grid = {\'n_neighbors\'  : [12,13,14,15],\n              "weights" : ["distance"],\n              "algorithm" : ["ball_tree","auto", "kd_tree", "brute"],\n              "metric" : ["euclidean", "manhattan", "minkowski"]\n             }\n\ngrid = GridSearchCV(\n        estimator  = KNeighborsClassifier(),\n        param_grid = param_grid,\n        scoring    = \'accuracy\',\n        n_jobs     = -1,\n        cv         = RepeatedKFold(n_splits=2, n_repeats=1, random_state=123), \n        refit      = True,\n        verbose    = 1,\n        return_train_score = True\n       )\n\ngrid.fit(X = X_train, y = y_train)\n\nresultados = pd.DataFrame(grid.cv_results_)\nresultados.filter(regex = \'(param*|mean_t|std_t)\')     .drop(columns = \'params\')     .sort_values(\'mean_test_score\', ascending = False)     .head(4)\n\nmodelo_final = grid.best_estimator_ '

In [15]:
"""# Mejores hiperpar√°metros por validaci√≥n cruzada
# ==============================================================================
print("----------------------------------------")
print("Mejores hiperpar√°metros encontrados (cv)")
print("----------------------------------------")
print(grid.best_params_, ":", grid.best_score_, grid.scoring)"""

'# Mejores hiperpar√°metros por validaci√≥n cruzada\n# ==============================================================================\nprint("----------------------------------------")\nprint("Mejores hiperpar√°metros encontrados (cv)")\nprint("----------------------------------------")\nprint(grid.best_params_, ":", grid.best_score_, grid.scoring)'

In [16]:
"""# Error de test del modelo final
# ==============================================================================
predicciones = modelo_final.predict(X = X_test)
f1_score(y_test, predicciones, average='micro')"""

"# Error de test del modelo final\n# ==============================================================================\npredicciones = modelo_final.predict(X = X_test)\nf1_score(y_test, predicciones, average='micro')"

In [17]:
knn = KNeighborsClassifier(algorithm = 'ball_tree',
                           n_neighbors = 14,
                           weights = 'distance',
                           metric = "manhattan")
knn.fit(X_train, y_train)
predicciones = knn.predict(X = X_test)
f1_score(y_test, predicciones, average='micro')

0.7195564167993707

In [18]:
import pickle
nombre = 'knn_pickle.pkl'
pickle.dump(knn, open(nombre,'wb'))