In [1]:
import numpy as np
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
from matplotlib import style
import matplotlib.ticker as ticker
import seaborn as sns

In [3]:
from sklearn.datasets import load_boston
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import f1_score
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import ParameterGrid
from sklearn.inspection import permutation_importance
import multiprocessing

In [4]:
labels = pd.read_csv('../csv/train_labels.csv')
labels.head()

   building_id  damage_grade
0       802906             3
1        28830             2
2        94947             3
3       590882             2
4       201944             3

In [5]:
values = pd.read_csv('../csv/train_values.csv')
values.head(10).T

,0,1,2,3,4,5,6,7,8,9
building_id,802906,28830,94947,590882,201944,333020,728451,475515,441126,989500
geo_level_1_id,6,8,21,22,11,8,9,20,0,26
geo_level_2_id,487,900,363,418,131,558,475,323,757,886
geo_level_3_id,12198,2812,8973,10694,1488,6089,12066,12236,7219,994
count_floors_pre_eq,2,2,2,2,3,2,2,2,2,1
age,30,10,10,10,30,10,25,0,15,0
area_percentage,6,8,5,6,8,9,3,8,8,13
height_percentage,5,7,5,5,9,5,4,6,6,4
land_surface_condition,t,o,t,t,t,t,n,t,t,t
foundation_type,r,r,r,r,r,r,r,w,r,i
roof_type,n,n,n,n,n,n,n,q,q,n
ground_floor_type,f,x,f,f,f,f,x,v,f,v
other_floor_type,q,q,x,x,x,q,q,x,q,j
position,t,s,t,s,s,s,s,s,s,s
plan_configuration,d,d,d,d,d,d,d,u,d,d
has_superstructure_adobe_mud,1,0,0,0,1,0,0,0,0,0
has_superstructure_mud_mortar_stone,1,1,1,1,0,1,1,0,1,0
has_superstructure_stone_flag,0,0,0,0,0,0,0,0,0,0
has_superstructure_cement_mortar_stone,0,0,0,0,0,0,0,0,0,0
has_superstructure_mud_mortar_brick,0,0,0,0,0,0,0,0,0,0
has_superstructure_cement_mortar_brick,0,0,0,0,0,0,0,1,0,1
has_superstructure_timber,0,0,0,1,0,0,0,1,1,0
has_superstructure_bamboo,0,0,0,1,0,0,0,0,0,0
has_superstructure_rc_non_engineered,0,0,0,0,0,0,0,0,0,0
has_superstructure_rc_engineered,0,0,0,0,0,0,0,0,0,0
has_superstructure_other,0,0,0,0,0,0,0,0,0,0
legal_ownership_status,v,v,v,v,v,v,v,v,v,v
count_families,1,1,1,1,1,1,1,1,1,1
has_secondary_use,0,0,0,0,0,1,0,0,0,0
has_secondary_use_agriculture,0,0,0,0,0,1,0,0,0,0
has_secondary_use_hotel,0,0,0,0,0,0,0,0,0,0
has_secondary_use_rental,0,0,0,0,0,0,0,0,0,0
has_secondary_use_institution,0,0,0,0,0,0,0,0,0,0
has_secondary_use_school,0,0,0,0,0,0,0,0,0,0
has_secondary_use_industry,0,0,0,0,0,0,0,0,0,0
has_secondary_use_health_post,0,0,0,0,0,0,0,0,0,0
has_secondary_use_gov_office,0,0,0,0,0,0,0,0,0,0
has_secondary_use_use_police,0,0,0,0,0,0,0,0,0,0
has_secondary_use_other,0,0,0,0,0,0,0,0,0,0

In [6]:
values.isnull().values.any()

False

In [7]:
labels.isnull().values.any()

False

In [8]:
values.dtypes

building_id                                int64
geo_level_1_id                             int64
geo_level_2_id                             int64
geo_level_3_id                             int64
count_floors_pre_eq                        int64
age                                        int64
area_percentage                            int64
height_percentage                          int64
land_surface_condition                    object
foundation_type                           object
roof_type                                 object
ground_floor_type                         object
other_floor_type                          object
position                                  object
plan_configuration                        object
has_superstructure_adobe_mud               int64
has_superstructure_mud_mortar_stone        int64
has_superstructure_stone_flag              int64
has_superstructure_cement_mortar_stone     int64
has_superstructure_mud_mortar_brick        int64
has_superstructure_cement_mortar_brick     int64
has_superstructure_timber                  int64
has_superstructure_bamboo                  int64
has_superstructure_rc_non_engineered       int64
has_superstructure_rc_engineered           int64
has_superstructure_other                   int64
legal_ownership_status                    object
count_families                             int64
has_secondary_use                          int64
has_secondary_use_agriculture              int64
has_secondary_use_hotel                    int64
has_secondary_use_rental                   int64
has_secondary_use_institution              int64
has_secondary_use_school                   int64
has_secondary_use_industry                 int64
has_secondary_use_health_post              int64
has_secondary_use_gov_office               int64
has_secondary_use_use_police               int64
has_secondary_use_other                    int64
dtype: object

In [9]:
values["building_id"].count() == values["building_id"].drop_duplicates().count()

True

In [10]:
values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 39 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int64
 1   geo_level_1_id                          260601 non-null  int64
 2   geo_level_2_id                          260601 non-null  int64
 3   geo_level_3_id                          260601 non-null  int64
 4   count_floors_pre_eq                     260601 non-null  int64
 5   age                                     260601 non-null  int64
 6   area_percentage                         260601 non-null  int64
 7   height_percentage                       260601 non-null  int64
 8   land_surface_condition                  260601 non-null  object
 9   foundation_type                         260601 non-null  object
 10  roof_type                               260601 non-null  object
 11  ground_floor_type                       260601 non-null  object
 12  other_floor_type                        260601 non-null  object
 13  position                                260601 non-null  object
 14  plan_configuration                      260601 non-null  object
 15  has_superstructure_adobe_mud            260601 non-null  int64
 16  has_superstructure_mud_mortar_stone     260601 non-null  int64
 17  has_superstructure_stone_flag           260601 non-null  int64
 18  has_superstructure_cement_mortar_stone  260601 non-null  int64
 19  has_superstructure_mud_mortar_brick     260601 non-null  int64
 20  has_superstructure_cement_mortar_brick  260601 non-null  int64
 21  has_superstructure_timber               260601 non-null  int64
 22  has_superstructure_bamboo               260601 non-null  int64
 23  has_superstructure_rc_non_engineered    260601 non-null  int64
 24  has_superstructure_rc_engineered        260601 non-null  int64
 25  has_superstructure_other                260601 non-null  int64
 26  legal_ownership_status                  260601 non-null  object
 27  count_families                          260601 non-null  int64
 28  has_secondary_use                       260601 non-null  int64
 29  has_secondary_use_agriculture           260601 non-null  int64
 30  has_secondary_use_hotel                 260601 non-null  int64
 31  has_secondary_use_rental                260601 non-null  int64
 32  has_secondary_use_institution           260601 non-null  int64
 33  has_secondary_use_school                260601 non-null  int64
 34  has_secondary_use_industry              260601 non-null  int64
 35  has_secondary_use_health_post           260601 non-null  int64
 36  has_secondary_use_gov_office            260601 non-null  int64
 37  has_secondary_use_use_police            260601 non-null  int64
 38  has_secondary_use_other                 260601 non-null  int64
dtypes: int64(31), object(8)
memory usage: 77.5+ MB

In [11]:
to_be_categorized = ["land_surface_condition", "foundation_type", "roof_type",\
                     "position", "ground_floor_type", "other_floor_type",\
                     "plan_configuration", "legal_ownership_status"]
for row in to_be_categorized:
    values[row] = values[row].astype("category")
values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 39 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int64
 1   geo_level_1_id                          260601 non-null  int64
 2   geo_level_2_id                          260601 non-null  int64
 3   geo_level_3_id                          260601 non-null  int64
 4   count_floors_pre_eq                     260601 non-null  int64
 5   age                                     260601 non-null  int64
 6   area_percentage                         260601 non-null  int64
 7   height_percentage                       260601 non-null  int64
 8   land_surface_condition                  260601 non-null  category
 9   foundation_type                         260601 non-null  category
 10  roof_type                               260601 non-null  category
 11  ground_floor_type                       260601 non-null  category
 12  other_floor_type                        260601 non-null  category
 13  position                                260601 non-null  category
 14  plan_configuration                      260601 non-null  category
 15  has_superstructure_adobe_mud            260601 non-null  int64
 16  has_superstructure_mud_mortar_stone     260601 non-null  int64
 17  has_superstructure_stone_flag           260601 non-null  int64
 18  has_superstructure_cement_mortar_stone  260601 non-null  int64
 19  has_superstructure_mud_mortar_brick     260601 non-null  int64
 20  has_superstructure_cement_mortar_brick  260601 non-null  int64
 21  has_superstructure_timber               260601 non-null  int64
 22  has_superstructure_bamboo               260601 non-null  int64
 23  has_superstructure_rc_non_engineered    260601 non-null  int64
 24  has_superstructure_rc_engineered        260601 non-null  int64
 25  has_superstructure_other                260601 non-null  int64
 26  legal_ownership_status                  260601 non-null  category
 27  count_families                          260601 non-null  int64
 28  has_secondary_use                       260601 non-null  int64
 29  has_secondary_use_agriculture           260601 non-null  int64
 30  has_secondary_use_hotel                 260601 non-null  int64
 31  has_secondary_use_rental                260601 non-null  int64
 32  has_secondary_use_institution           260601 non-null  int64
 33  has_secondary_use_school                260601 non-null  int64
 34  has_secondary_use_industry              260601 non-null  int64
 35  has_secondary_use_health_post           260601 non-null  int64
 36  has_secondary_use_gov_office            260601 non-null  int64
 37  has_secondary_use_use_police            260601 non-null  int64
 38  has_secondary_use_other                 260601 non-null  int64
dtypes: category(8), int64(31)
memory usage: 63.6 MB

In [12]:
datatypes = dict(values.dtypes)
for row in values.columns:
    if datatypes[row] != "int64" and datatypes[row] != "int32" and \
       datatypes[row] != "int16" and datatypes[row] != "int8":
        continue
    if values[row].nlargest(1).item() > 32767 and values[row].nlargest(1).item() < 2**31:
        values[row] = values[row].astype(np.int32)
    elif values[row].nlargest(1).item() > 127:
        values[row] = values[row].astype(np.int16)
    else:
        values[row] = values[row].astype(np.int8)
values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 39 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int32
 1   geo_level_1_id                          260601 non-null  int8
 2   geo_level_2_id                          260601 non-null  int16
 3   geo_level_3_id                          260601 non-null  int16
 4   count_floors_pre_eq                     260601 non-null  int8
 5   age                                     260601 non-null  int16
 6   area_percentage                         260601 non-null  int8
 7   height_percentage                       260601 non-null  int8
 8   land_surface_condition                  260601 non-null  category
 9   foundation_type                         260601 non-null  category
 10  roof_type                               260601 non-null  category
 11  ground_floor_type                       260601 non-null  category
 12  other_floor_type                        260601 non-null  category
 13  position                                260601 non-null  category
 14  plan_configuration                      260601 non-null  category
 15  has_superstructure_adobe_mud            260601 non-null  int8
 16  has_superstructure_mud_mortar_stone     260601 non-null  int8
 17  has_superstructure_stone_flag           260601 non-null  int8
 18  has_superstructure_cement_mortar_stone  260601 non-null  int8
 19  has_superstructure_mud_mortar_brick     260601 non-null  int8
 20  has_superstructure_cement_mortar_brick  260601 non-null  int8
 21  has_superstructure_timber               260601 non-null  int8
 22  has_superstructure_bamboo               260601 non-null  int8
 23  has_superstructure_rc_non_engineered    260601 non-null  int8
 24  has_superstructure_rc_engineered        260601 non-null  int8
 25  has_superstructure_other                260601 non-null  int8
 26  legal_ownership_status                  260601 non-null  category
 27  count_families                          260601 non-null  int8
 28  has_secondary_use                       260601 non-null  int8
 29  has_secondary_use_agriculture           260601 non-null  int8
 30  has_secondary_use_hotel                 260601 non-null  int8
 31  has_secondary_use_rental                260601 non-null  int8
 32  has_secondary_use_institution           260601 non-null  int8
 33  has_secondary_use_school                260601 non-null  int8
 34  has_secondary_use_industry              260601 non-null  int8
 35  has_secondary_use_health_post           260601 non-null  int8
 36  has_secondary_use_gov_office            260601 non-null  int8
 37  has_secondary_use_use_police            260601 non-null  int8
 38  has_secondary_use_other                 260601 non-null  int8
dtypes: category(8), int16(3), int32(1), int8(27)
memory usage: 11.2 MB

In [13]:
labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 2 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   building_id   260601 non-null  int64
 1   damage_grade  260601 non-null  int64
dtypes: int64(2)
memory usage: 4.0 MB

In [14]:
labels["building_id"] = labels["building_id"].astype(np.int32)
labels["damage_grade"] = labels["damage_grade"].astype(np.int8)
labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 2 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   building_id   260601 non-null  int32
 1   damage_grade  260601 non-null  int8
dtypes: int32(1), int8(1)
memory usage: 1.2 MB

# Nuevo Modelo

In [15]:
important_values = values\
                .merge(labels, on="building_id")
important_values.drop(columns=["building_id"], inplace = True)
important_values["geo_level_1_id"] = important_values["geo_level_1_id"].astype("category")
important_values

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
0,6,487,12198,2,30,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,3
1,8,900,2812,2,10,8,7,o,r,n,...,0,0,0,0,0,0,0,0,0,2
2,21,363,8973,2,10,5,5,t,r,n,...,0,0,0,0,0,0,0,0,0,3
3,22,418,10694,2,10,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,2
4,11,131,1488,3,30,8,9,t,r,n,...,0,0,0,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260596,25,1335,1621,1,55,6,3,n,r,n,...,0,0,0,0,0,0,0,0,0,2
260597,17,715,2060,2,0,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,3
260598,17,51,8163,3,55,6,7,t,r,q,...,0,0,0,0,0,0,0,0,0,3
260599,26,39,1851,2,10,14,6,t,r,x,...,0,0,0,0,0,0,0,0,0,2
260600,21,9,9101,3,10,7,6,n,r,n,...,0,0,0,0,0,0,0,0,0,3

In [16]:

X_train, X_test, y_train, y_test = train_test_split(important_values.drop(columns = 'damage_grade'),
                                                    important_values['damage_grade'], test_size = 0.2, random_state = 123)

In [17]:
#OneHotEncoding
def encode_and_bind(original_dataframe, feature_to_encode):
    dummies = pd.get_dummies(original_dataframe[[feature_to_encode]])
    res = pd.concat([original_dataframe, dummies], axis=1)
    res = res.drop([feature_to_encode], axis=1)
    return(res) 

features_to_encode = ["geo_level_1_id", "land_surface_condition", "foundation_type", "roof_type",\
                     "position", "ground_floor_type", "other_floor_type",\
                     "plan_configuration", "legal_ownership_status"]
for feature in features_to_encode:
    X_train = encode_and_bind(X_train, feature)
    X_test = encode_and_bind(X_test, feature)

In [46]:
# Busco los mejores tres parametros indicados abajo.
n_estimators = [75, 100, 12]
max_depth = [None, 5, 15]
max_features = [30, 45, 60]

hyperF = {'n_estimators': n_estimators,
          'max_depth': max_depth,  
          'max_features': max_features}

gridF = GridSearchCV(estimator = RandomForestClassifier(random_state = 123),
                     scoring = 'f1_micro',
                     param_grid = hyperF,
                     cv = 3,
                     verbose = 1, 
                     n_jobs = -1)

bestF = gridF.fit(X_train, y_train)

Fitting 3 folds for each of 27 candidates, totalling 81 fits

In [51]:
pd.DataFrame(bestF.cv_results_)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_max_depth,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,151.096930,0.968206,7.928260,0.311926,None,30,75,"{'max_depth': None, 'max_features': 30, 'n_est...",0.722523,0.721742,0.722145,0.722136,0.000319,5
1,205.084298,1.590199,8.694367,0.332903,None,30,100,"{'max_depth': None, 'max_features': 30, 'n_est...",0.723401,0.723022,0.723051,0.723158,0.000172,2
2,26.566211,1.066875,1.474495,0.106362,None,30,12,"{'max_depth': None, 'max_features': 30, 'n_est...",0.708694,0.707179,0.711208,0.709027,0.001662,12
3,200.910944,2.624947,8.309886,0.904283,None,45,75,"{'max_depth': None, 'max_features': 45, 'n_est...",0.723717,0.722835,0.722087,0.722880,0.000666,3
4,278.788323,3.418119,10.827586,0.595931,None,45,100,"{'max_depth': None, 'max_features': 45, 'n_est...",0.724883,0.723713,0.722562,0.723719,0.000947,1
5,31.334669,0.779976,1.363339,0.192782,None,45,12,"{'max_depth': None, 'max_features': 45, 'n_est...",0.709889,0.706488,0.707769,0.708049,0.001402,14
6,270.459322,4.402866,7.992038,0.455434,None,60,75,"{'max_depth': None, 'max_features': 60, 'n_est...",0.723991,0.720922,0.720332,0.721748,0.001604,6
7,365.295693,8.532333,10.203106,0.896402,None,60,100,"{'max_depth': None, 'max_features': 60, 'n_est...",0.724250,0.721411,0.721497,0.722386,0.001318,4
8,45.945707,1.754810,1.437219,0.031996,None,60,12,"{'max_depth': None, 'max_features': 60, 'n_est...",0.708896,0.705970,0.708172,0.707679,0.001244,15
9,45.293316,1.473318,1.216473,0.201436,5,30,75,"{'max_depth': 5, 'max_features': 30, 'n_estima...",0.650373,0.645993,0.647734,0.648033,0.001800,26
10,58.871552,2.140875,1.451782,0.191864,5,30,100,"{'max_depth': 5, 'max_features': 30, 'n_estima...",0.651567,0.646008,0.646526,0.648033,0.002508,27
11,6.987745,0.219912,0.245209,0.023824,5,30,12,"{'max_depth': 5, 'max_features': 30, 'n_estima...",0.653279,0.646267,0.651936,0.650494,0.003039,25
12,52.882303,1.671970,0.949565,0.042050,5,45,75,"{'max_depth': 5, 'max_features': 45, 'n_estima...",0.664273,0.653836,0.652872,0.656993,0.005163,23
13,72.154911,1.306006,1.394191,0.067135,5,45,100,"{'max_depth': 5, 'max_features': 45, 'n_estima...",0.665870,0.652785,0.652987,0.657214,0.006122,22
14,8.949195,0.554057,0.245760,0.019276,5,45,12,"{'max_depth': 5, 'max_features': 45, 'n_estima...",0.650387,0.655706,0.652872,0.652988,0.002173,24
15,76.604968,1.713004,0.939234,0.012406,5,60,75,"{'max_depth': 5, 'max_features': 60, 'n_estima...",0.662460,0.659721,0.661175,0.661119,0.001119,20
16,103.050943,2.155310,1.517012,0.163204,5,60,100,"{'max_depth': 5, 'max_features': 60, 'n_estima...",0.664834,0.659937,0.661649,0.662140,0.002029,19
17,12.065135,0.778171,0.227488,0.018258,5,60,12,"{'max_depth': 5, 'max_features': 60, 'n_estima...",0.660201,0.658613,0.661002,0.659939,0.000993,21
18,106.467238,1.877178,2.816238,0.114066,15,30,75,"{'max_depth': 15, 'max_features': 30, 'n_estim...",0.708493,0.706229,0.703452,0.706058,0.002061,17
19,142.862900,2.285204,3.445190,0.171660,15,30,100,"{'max_depth': 15, 'max_features': 30, 'n_estim...",0.707817,0.706402,0.704287,0.706168,0.001450,16
20,17.836303,0.825144,0.599592,0.041307,15,30,12,"{'max_depth': 15, 'max_features': 30, 'n_estim...",0.704406,0.704747,0.698819,0.702657,0.002718,18
21,147.043379,0.683458,2.693865,0.116788,15,45,75,"{'max_depth': 15, 'max_features': 45, 'n_estim...",0.712162,0.711539,0.710662,0.711454,0.000616,10
22,190.284191,2.205476,3.444769,0.196000,15,45,100,"{'max_depth': 15, 'max_features': 45, 'n_estim...",0.712263,0.712057,0.710662,0.711661,0.000711,9
23,23.044063,0.413786,0.530259,0.078184,15,45,12,"{'max_depth': 15, 'max_features': 45, 'n_estim...",0.707414,0.709870,0.708920,0.708735,0.001011,13
24,162.396772,7.206065,1.433162,0.348509,15,60,75,"{'max_depth': 15, 'max_features': 60, 'n_estim...",0.713831,0.713151,0.711640,0.712874,0.000916,8
25,159.153895,16.161463,1.071787,0.158422,15,60,100,"{'max_depth': 15, 'max_features': 60, 'n_estim...",0.714191,0.714230,0.712590,0.713670,0.000764,7
26,29.099314,0.689318,0.442061,0.017408,15,60,12,"{'max_depth': 15, 'max_features': 60, 'n_estim...",0.711025,0.710604,0.708431,0.710020,0.001137,11

In [52]:
# Utilizo los mejores parametros segun el GridSearch
rf_model = RandomForestClassifier(n_estimators = 100, max_depth = None, max_features = 45, criterion = "gini", verbose=True)
rf_model.fit(X_train, y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:  1.9min finished

RandomForestClassifier(max_features=45, verbose=True)

In [53]:
rf_model.score(X_train, y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    7.2s finished

0.9866222179585572

In [54]:
# Calculo el F1 score para mi training set.
y_preds = rf_model.predict(X_test)
f1_score(y_test, y_preds, average='micro')

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    1.9s finished

0.7254081848007521

In [55]:
rf_model.feature_importances_

In [56]:
test_values = pd.read_csv('../csv/test_values.csv', index_col = "building_id")
test_values

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
building_id,,,,,,,,,,,,,,,,,,,,,
300051,17,596,11307,3,20,7,6,t,r,n,...,0,0,0,0,0,0,0,0,0,0
99355,6,141,11987,2,25,13,5,t,r,n,...,1,0,0,0,0,0,0,0,0,0
890251,22,19,10044,2,5,4,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
745817,26,39,633,1,0,19,3,t,r,x,...,0,0,1,0,0,0,0,0,0,0
421793,17,289,7970,3,15,8,7,t,r,q,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310028,4,605,3623,3,70,20,6,t,r,q,...,1,0,0,0,0,0,0,0,0,0
663567,10,1407,11907,3,25,6,7,n,r,n,...,0,0,0,0,0,0,0,0,0,0
1049160,22,1136,7712,1,50,3,3,t,r,n,...,0,0,0,0,0,0,0,0,0,0
442785,6,1041,912,2,5,9,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
501372,26,36,6436,2,10,11,4,t,r,q,...,0,0,0,0,0,0,0,0,0,0

In [57]:
test_values_subset = test_values
test_values_subset["geo_level_1_id"] = test_values_subset["geo_level_1_id"].astype("category")
test_values_subset

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
building_id,,,,,,,,,,,,,,,,,,,,,
300051,17,596,11307,3,20,7,6,t,r,n,...,0,0,0,0,0,0,0,0,0,0
99355,6,141,11987,2,25,13,5,t,r,n,...,1,0,0,0,0,0,0,0,0,0
890251,22,19,10044,2,5,4,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
745817,26,39,633,1,0,19,3,t,r,x,...,0,0,1,0,0,0,0,0,0,0
421793,17,289,7970,3,15,8,7,t,r,q,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310028,4,605,3623,3,70,20,6,t,r,q,...,1,0,0,0,0,0,0,0,0,0
663567,10,1407,11907,3,25,6,7,n,r,n,...,0,0,0,0,0,0,0,0,0,0
1049160,22,1136,7712,1,50,3,3,t,r,n,...,0,0,0,0,0,0,0,0,0,0
442785,6,1041,912,2,5,9,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
501372,26,36,6436,2,10,11,4,t,r,q,...,0,0,0,0,0,0,0,0,0,0

In [58]:
def encode_and_bind(original_dataframe, feature_to_encode):
    dummies = pd.get_dummies(original_dataframe[[feature_to_encode]])
    res = pd.concat([original_dataframe, dummies], axis=1)
    res = res.drop([feature_to_encode], axis=1)
    return(res) 

features_to_encode = ["geo_level_1_id", "land_surface_condition", "foundation_type", "roof_type",\
                     "position", "ground_floor_type", "other_floor_type",\
                     "plan_configuration", "legal_ownership_status"]
for feature in features_to_encode:
    test_values_subset = encode_and_bind(test_values_subset, feature)
test_values_subset

,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,...,plan_configuration_m,plan_configuration_n,plan_configuration_o,plan_configuration_q,plan_configuration_s,plan_configuration_u,legal_ownership_status_a,legal_ownership_status_r,legal_ownership_status_v,legal_ownership_status_w
building_id,,,,,,,,,,,,,,,,,,,,,
300051,596,11307,3,20,7,6,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
99355,141,11987,2,25,13,5,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
890251,19,10044,2,5,4,5,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
745817,39,633,1,0,19,3,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
421793,289,7970,3,15,8,7,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310028,605,3623,3,70,20,6,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
663567,1407,11907,3,25,6,7,1,1,1,0,...,0,0,0,0,0,0,0,0,1,0
1049160,1136,7712,1,50,3,3,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
442785,1041,912,2,5,9,5,1,1,0,0,...,0,0,0,0,0,0,1,0,0,0
501372,36,6436,2,10,11,4,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [59]:
preds = rf_model.predict(test_values_subset)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    2.9s finished

In [60]:
submission_format = pd.read_csv('../csv/submission_format.csv', index_col = "building_id")

In [61]:
my_submission = pd.DataFrame(data=preds,
                             columns=submission_format.columns,
                             index=submission_format.index)

In [62]:
my_submission.head()

             damage_grade
building_id
300051                  3
99355                   2
890251                  2
745817                  1
421793                  3

In [63]:
my_submission.to_csv('../csv/predictions/jf-model-3-submission-all-params.csv')

In [65]:
!head ../csv/predictions/jf-model-3-submission-all-params.csv

building_id,damage_grade
300051,3
99355,2
890251,2
745817,1
421793,3
871976,2
691228,1
896100,3
343471,2